---

import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import BloPostLayout from '../../layouts/BlogPost.astro'
const posts = (await getCollection('blog')).sort(
	// (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<style>
        .margin-post{
    margin-top: 2%;
    margin-bottom: 2%;}
    </style>
        <BloPostLayout>
		<main>
			<section>
				<ul class="margin-post">
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<img width={720} style="height:400px"src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										{post.data.pubDate}
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
</BloPostLayout>
</html>
