---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {}

const {} = Astro.props;
---
<Layout title="About">
    <Header />
    <!--Start Page Header-->
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/shb.jpg);"></div>
        <div class="shape1 float-bob-x"><img style="height:223px" src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                    Contact-Us
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Thunder Brains." href="" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Data Structuring</span><meta property="url" content="/data-structuring/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Header-->	
    <div data-elementor-type="wp-page" data-elementor-id="41" class="elementor elementor-41">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-f35d0a8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f35d0a8" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1fd2384" data-id="1fd2384" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-63e015f elementor-widget elementor-widget-ontech-contact-info" data-id="63e015f" data-element_type="widget" data-widget_type="ontech-contact-info.default">
                            <div class="elementor-widget-container">
                                <div class="contact-page__top">
                                    <div class="title text-center">
                                        <h2 class="sec-title__title">Please don't hesitate to contact us <br> with any inquiries or messages.</h2>			<p class="sec-title__sub-title">You can also reach out to us by phone or email are many variations</p>
                                    </div>

                                    <ul class="list-unstyled ml-0">
                                        <!--Start Contact Page Top single-->
                                        <li class="contact-page__top-single">
                                            <div class="icon">
                                                <span aria-hidden="true" class="  icon-location-filled"></span>
                                            </div>
                                            <div class="content">
                                                <h2>Address</h2>
                                                <p>
                                                    4th Floor, Plot No C, Times Square, #405, 196-A, Phase 8B,</br> Industrial Area,
                                                    Sector 74,</br> Sahibzada Ajit Singh Nagar, Punjab 160055
                                                </p>
                                            </div>
                                        </li>
                                        <!--End Contact Page Top single-->
                                        <!--Start Contact Page Top single-->
                                        <li class="contact-page__top-single">
                                            <div class="icon">
                                                <span aria-hidden="true" class="   icon-phone-auricular"></span>
                                            </div>
                                            <div class="content">
                                                <h2>Get In Touch</h2>
                                                <p>
                                                    <a href="tel:9779308242">+91(9779308242)</a>
                                                    <a href="tel:9592749012">+91(9592749012)</a>
                                                </p>
                                            </div>
                                        </li>
                                        <!--End Contact Page Top single-->
                                        <!--Start Contact Page Top single-->
                                        <li class="contact-page__top-single">
                                            <div class="icon">
                                                <span aria-hidden="true" class="   icon-email2"></span>
                                            </div>
                                            <div class="content">
                                                <h2>Email Address</h2>
                                                <p>
                                                    <a href="mailto:contactus@thunderbrains.in">contactus@thunderbrains.in</a>
                                                    <a href="mailto:kumar.shubham@thunderbrains.in">kumar.shubham@thunderbrains.in</a>
                                                </p>
                                            </div>
                                        </li>
                                        <!--End Contact Page Top single-->

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-f929bc0 contact-page form elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f929bc0" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b2ea87c" data-id="b2ea87c" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-6257334 elementor-widget elementor-widget-ontech-contact-form" data-id="6257334" data-element_type="widget" data-widget_type="ontech-contact-form.default">
                            <div class="elementor-widget-container">
                                <!--Address Start-->
                                <div class="contact-page__bottom">
                                    <div class="contact-page__bottom-pattern" style="background-image: url(wp-content/uploads/2023/07/contact-page-pattern.jpg);"> </div>
                                    <div class="contact-page__bottom-inner">
                                        <div class="wpcf7 no-js" id="wpcf7-f469-p41-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                            <form action="/contact/#wpcf7-f469-p41-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="469" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.8" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f469-p41-o1" />
                                                    <input type="hidden" name="_wpcf7_container_post" value="41" />
                                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                </div>
                                                <div class="contact-page__form contact-form-validated">
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                            <div class="contact-page__input-box">
                                                                <p>
                                                                    <span class="wpcf7-form-control-wrap" data-name="name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="User Name" value="" type="text" name="name" /></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                            <div class="contact-page__input-box">
                                                                <p>
                                                                    <span class="wpcf7-form-control-wrap" data-name="email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Email Address" value="" type="text" name="email" /></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                            <div class="contact-page__input-box">
                                                                <p>
                                                                    <span class="wpcf7-form-control-wrap" data-name="phone"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone" value="" type="text" name="phone" /></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                            <div class="contact-page__input-box">
                                                                <p>
                                                                    <span class="wpcf7-form-control-wrap" data-name="Subject"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" value="" type="text" name="Subject" /></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                            <div class="contact-page__input-box">
                                                                <p>
                                                                    <span class="wpcf7-form-control-wrap" data-name="textarea-40"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Message here" name="textarea-40"></textarea></span>
                                                                </p>
                                                            </div>
                                                            <div class="contact-page__btn">
                                                                <p>
                                                                    <button type="submit" class="thm-btn">
                                                                        Send A Message
                                                                    </button>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpcf7-response-output" aria-hidden="true"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!--Address Start-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-4e29bbff elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4e29bbff" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-491a0fd0" data-id="491a0fd0" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-30286391 elementor-widget elementor-widget-ontech-google-maps" data-id="30286391" data-element_type="widget" data-widget_type="ontech-google-maps.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-custom-embed">
                                    <iframe src="https://maps.google.com/maps?q=ThunderBrains&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near"
                                            title="Thunder Brains Pvt. Ltd."
                                            aria-label="Thunder Brains Pvt. Ltd."></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</div>
    <Footer />
</Layout>