---
import Layout from "../layouts/Layout.astro";

interface Props {}

const {} = Astro.props;
---

<style>
    .page-header__bg {
        background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
    }
</style>
<Layout title="Digital Marketing" description="Our approach to digital marketing is driven by a deep understanding of both the tech industry and the evolving digital landscape. We harness the power of data analytics, market research, and proven strategies to craft results-driven campaigns " keywords="digital marketing,data analytics,market research,results-driven campaigns,search engine optimization (SEO),pay-per-click (PPC) advertising ">
   
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
        <div class="shape1 float-bob-x"><img style="height:223px" src="../wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                    Digital Marketing
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Digital Marketing</span><meta property="url" content="https://bracketweb.com/ontechwp/it-consultancy/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <div data-elementor-type="wp-page" data-elementor-id="1009" class="elementor elementor-1009">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-6fd9b5c8 services-details elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="6fd9b5c8" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1dcde221"
                    data-id="1dcde221" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-381b0fd elementor-widget elementor-widget-ontech-sidebar"
                            data-id="381b0fd" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                            <div class="elementor-widget-container">
                                <!--Start Sidebar Single-->
                                <div class="sidebar__single sidebar__services wow animated fadeInUp"
                                    data-wow-delay="0.1s">

                                    <div class="title-box">
                                        <div class="inner">
                                            <div class="shape">
                                                <img decoding="async"
                                                    src="../wp-content/uploads/2023/07/sidebar-title-shape.png"
                                                    alt="alt" title="sidebar-title-shape">
                                            </div>
                                            <h2 class="">Services List</h2>
                                        </div>
                                    </div>

                                    <div class="sidebar__services-box">
                                        <ul class="sidebar__services-box-list clearfix">
                                            <li>
                                                <a class="normal" href="/it-consultancy">
                                                    IT Consultancy <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="active" href="index.html">
                                                    Digital Marketing <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/graphic-designing">
                                                    Graphic Designing <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/data-structuring">
                                                    Data Structuring <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/web-development">
                                                    Web Development <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/seo-and-marketing">
                                                    SEO and Marketing <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!--End Sidebar Single-->
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5e50b958 elementor-widget elementor-widget-ontech-sidebar"
                            data-id="5e50b958" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                            <div class="elementor-widget-container">
                                <!--Start Sidebar Single-->
                                <div class="sidebar__single sidebar__author wow animated fadeInUp"
                                    data-wow-delay="0.2s">
                                    <div class="sidebar__author-box text-center">
                                        <div class="shape1">
                                            <img decoding="async"
                                                src="../wp-content/uploads/2023/07/sidebar-shape1.png" alt="alt"
                                                title="sidebar-shape1">
                                        </div>
                                        <div class="shape2">
                                            <img decoding="async"
                                                src="../wp-content/uploads/2023/07/sidebar-shape2.png" alt="alt"
                                                title="sidebar-shape2">
                                        </div>
                                        <div class="shape3">
                                            <img decoding="async"
                                                src="../wp-content/uploads/2023/07/sidebar-shape3.png"
                                                alt="sidebar-shape3" title="sidebar-shape3">
                                        </div>
                                        <div class="shape4">
                                            <img decoding="async"
                                                src="../wp-content/uploads/2023/07/sidebar-shape4.png" alt="alt"
                                                title="sidebar-shape4">
                                        </div>
                                        <div class="sidebar__author-box-icon">
                                            <span aria-hidden="true" class="  icon-bubble-message"></span>
                                        </div>
                                        <div class="sidebar__author-box-text">
                                            <h3>Its hard to find things that won't sell online. </h3>
                                        </div>
                                        <div class="sidebar__author-box-img">
                                            <img decoding="async" src="../wp-content/uploads/2023/07/Shb.jpg" alt="alt"
                                                title="sidebar-img1">
                                        </div>
                                        <h2>Kumar shubham</h2>
                                    </div>
                                </div>
                                <!--End Sidebar Single-->
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5c269d72 elementor-widget elementor-widget-ontech-sidebar"
                            data-id="5c269d72" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                            <div class="elementor-widget-container">
                                <!--Start Sidebar Single-->
                                <div class="sidebar__single sidebar__contact wow animated fadeInUp"
                                    data-wow-delay="0.3s">
                                    <div class="title-box">
                                        <div class="inner">
                                            <div class="shape">
                                                <img decoding="async"
                                                    src="../wp-content/uploads/2023/07/sidebar-title-shape.png"
                                                    alt="alt" title="sidebar-title-shape">
                                            </div>
                                            <h2 class="">Have Any Query</h2>
                                        </div>
                                    </div>

                                    <div class="sidebar__contact-box">
                                        <div class="sidebar__contact-box-img">
                                            <div class="gradient-bg"
                                                style="background-image: url(wp-content/uploads/2023/07/sidebar-gradient-bg1.png);">
                                            </div>
                                            <img decoding="async" src="../wp-content/uploads/2023/07/sidebar-img2.jpg"
                                                alt="alt" title="sidebar-img2">
                                            <div class="overlay-content text-center">
                                                <h3 class="">Have Questions? <br>
                                                    Nothing stops us from <br>
                                                    doing what we like</h3>
                                                <div class="number-box">
                                                    <div class="icon-box">
                                                        <span aria-hidden="true"
                                                            class="  icon-phone-auricular"></span>
                                                    </div>

                                                    <div class="text-box">
                                                        <a href="tel:9779308242"> 9779308242 </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Sidebar Single-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-7b520991"
                    data-id="7b520991" data-element_type="column">
                    <div class="custom-margin elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-4e33c4fd elementor-widget elementor-widget-heading"
                            data-id="4e33c4fd" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.16.0 - 20-09-2023 */
                                    .elementor-heading-title {
                                        padding: 0;
                                        margin: 0;
                                        line-height: 1
                                    }

                                    .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                        color: inherit;
                                        font-size: inherit;
                                        line-height: inherit
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                        font-size: 15px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                        font-size: 19px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                        font-size: 29px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                        font-size: 39px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                        font-size: 59px
                                    }
                                    .cls-custom
                                         {
                                        font-family:Prompt;
                                        font-size:42px!important;
                                        font-weight:600!important;
                                    }
                                    .custom-margin{margin: 0px 0px 0px 30px;--e-column-margin-right: 0px;--e-column-margin-left: 30px;}
                                    
                                    .elementor-widget-heading .elementor-heading-title {
                                            color: var(--e-global-color-742e1a9);
                                            font-family: var(--e-global-typography-0e75bf1-font-family), Sans-serif;
                                            font-size: var(--e-global-typography-0e75bf1-font-size);
                                            font-weight: var(--e-global-typography-0e75bf1-font-weight);
                                            line-height: var(--e-global-typography-0e75bf1-line-height);
                                            letter-spacing: var(--e-global-typography-0e75bf1-letter-spacing);
                                            word-spacing: var(--e-global-typography-0e75bf1-word-spacing);
                                        }
                                </style>
                                <h2 class="cls-custom elementor-heading-title elementor-size-default">Digital Marketing
                                </h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-512c0e6a elementor-widget elementor-widget-heading"
                            data-id="512c0e6a" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Digital marketing, also
                                    called online marketing, is the promotion of brands to connect with potential
                                    customers.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-a45ae59 elementor-widget elementor-widget-heading"
                            data-id="a45ae59" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Digital marketing is the
                                    component of marketing that uses the Internet and online-based digital
                                    technologies such as desktop computers, mobile phones and other digital media
                                    and platforms to promote products and services.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6ac86603 elementor-widget elementor-widget-heading"
                            data-id="6ac86603" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 class="cls-custom elementor-heading-title elementor-size-default">IT Consulting & Planning
                                </h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7661b69f elementor-widget elementor-widget-heading"
                            data-id="7661b69f" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">IT consulting is more than
                                    advising a company about which computers they should buy. It includes everything
                                    related to the information technology side of the business. From implementing
                                    new software to creating a plan to recover a crashed hard drive, IT consulting
                                    is a fast-growing career field.
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-1d7e5a6f elementor-widget elementor-widget-html"
                            data-id="1d7e5a6f" data-element_type="widget" data-widget_type="html.default">
                            <div class="elementor-widget-container">
                                <ul class="services-details__content-text1-list ml-0">
                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-check-circle"></span>
                                        </div>

                                        <div class="text-box">
                                            <h4>Business IT Solutions</h4>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-check-circle"></span>
                                        </div>

                                        <div class="text-box">
                                            <h4>Identify Areas to Optimize</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5b6d814d services-details__content-img1 elementor-widget elementor-widget-image"
                            data-id="5b6d814d" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.16.0 - 20-09-2023 */
                                    .elementor-widget-image {
                                        text-align: center
                                    }

                                    .elementor-widget-image a {
                                        display: inline-block
                                    }

                                    .elementor-widget-image a img[src$=".svg"] {
                                        width: 48px
                                    }

                                    .elementor-widget-image img {
                                        vertical-align: middle;
                                        display: inline-block
                                    }
                                </style> <img decoding="async" fetchpriority="high" width="770" height="455"
                                    src="../wp-content/uploads/2023/09/ontech-s-5.jpg"
                                    class="attachment-full size-full wp-image-1576" alt=""
                                    srcset="https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-5.jpg 770w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-5-300x177.jpg 300w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-5-768x454.jpg 768w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-5-570x337.jpg 570w"
                                    sizes="(max-width: 770px) 100vw, 770px" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4aedb3fd elementor-widget elementor-widget-heading"
                            data-id="4aedb3fd" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">IT solutions, also known
                                    as IT business solutions, are a collection of software, applications, programs
                                    and IT services that are offered to companies in an effort to support specific
                                    business processes or address particular challenges.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-1d20268a elementor-widget elementor-widget-ontech-info-box"
                            data-id="1d20268a" data-element_type="widget"
                            data-widget_type="ontech-info-box.default">
                            <div class="elementor-widget-container">
                                <ul class="services-details__content-text2-list ml-0">
                                    <li>
                                        <div class="icon-box">
                                            <span aria-hidden="true" class="  icon-web-design"></span>
                                            <div class="top-icon">
                                                <span class="icon-check-circle"></span>
                                            </div>
                                        </div>

                                        <div class="content-box">
                                            <h3 class="">IT Disaster recovery maturity Assessment</h3>
                                            <p class="">It provides a realistic picture of your strengths,
                                                weaknesses, and improvement opportunities, enabling you to make more
                                                informed decisions.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-box">
                                            <span aria-hidden="true" class="   icon-data"></span>
                                            <div class="top-icon">
                                                <span class="icon-check-circle"></span>
                                            </div>
                                        </div>

                                        <div class="content-box">
                                            <h3 class=" ">Plan for the unexpected</h3>
                                            <p class=" ">being realistic about the “What if's” that could be
                                                expected on your journey, choosing to be resilient during the
                                                difficult times, and always leaning into positivity.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-30fd063 elementor-widget elementor-widget-ontech-image-box"
                            data-id="30fd063" data-element_type="widget"
                            data-widget_type="ontech-image-box.default">
                            <div class="elementor-widget-container">
                                <div class="services-details__content-text3">
                                    <div class="content-box">
                                        <p>Get the most out of your technology investment with transformative
                                            integrated
                                            business IT solutions that enable you to achieve essential business
                                            goals and seize valuable opportunities for growth.ensure the campaign is
                                            successful.</p>

                                        <ul class="ml-0">
                                            <li>
                                                <p>
                                                    <span aria-hidden="true" class="  icon-tick"></span> Unexpected
                                                    situation can pose an opportunities.
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span aria-hidden="true" class="  icon-tick"></span> Plan's for
                                                    new opportunities and distraction
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span aria-hidden="true" class="  icon-tick"></span> Be prepare
                                                    for anything
                                                </p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="img-box">
                                        <img decoding="async"
                                            src="../wp-content/uploads/2023/07/services-details-img2.jpg" alt="alt"
                                            title="services-details-img2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </div>
  
</Layout>

