---
import Layout from "../layouts/Layout.astro";


interface Props {}

const {} = Astro.props;
---

<style>
    .page-header__bg {
        background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
    }
</style>
<Layout title="FAQ" description="Discover insights, strategies, and the vision of Thunderbrains' CEO, guiding our software solutions revolution. Our CEO is at the forefront, steering the ship towards a future empowered by cutting-edge technologies and unwavering commitment to excellence. Explore FAQs for a glimpse into the leadership inspiring our journey." keywords="technologies,excellence,leadership,Thunderbrains CEO">
   
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
        <div class="shape1 float-bob-x"><img style="height:223px" src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                    FAQ
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">FAQ</span><meta property="url" content="https://bracketweb.com/ontechwp/it-consultancy/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <div data-elementor-type="wp-page" data-elementor-id="476" class="elementor elementor-476">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-4ef68ec elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-id="4ef68ec" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d971c3e"
                    data-id="d971c3e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-83e109f elementor-widget elementor-widget-ontech-faq"
                            data-id="83e109f" data-element_type="widget" data-widget_type="ontech-faq.default">
                            <div class="elementor-widget-container">
                                <!--Start Faq Page-->
                                <section class="faq-page">
                                    <div class="faq-page__pattern"
                                        style="background-image: url(wp-content/uploads/2023/07/faq-page-pattern.jpg);">
                                    </div>
                                    <div class="container">
                                        <div class="title-box text-center">
                                            <p class="">How To Help?</p>
                                            <h2 class="">Frequently Asked Questions</h2>
                                        </div>
                                        <div class="row">
                                            <!--Start Faq Page Accrodion-->
                                            <div class="col-xl-7">
                                                <div class="faq-page__accrodion">

                                                    <div class="faq-page__accrodion-box">
                                                        <div class="accrodion-grp"
                                                            data-grp-name="faq-one-accrodion">
                                                            <div class="accrodion active">
                                                                <div class="accrodion-title">
                                                                    <h4>Why is there a need to increase digital
                                                                        access?</h4>
                                                                </div>
                                                                <div class="accrodion-content">
                                                                    <div class="inner">
                                                                        <p>
                                                                            Increasing digital access is crucial for
                                                                            promoting equity and ensuring that all
                                                                            individuals have equal opportunities to
                                                                            education, employment, and essential
                                                                            services. It also drives economic
                                                                            growth, empowers innovation, and
                                                                            enhances communication, which is
                                                                            especially important in times of crises.
                                                                            Moreover, digital access contributes to
                                                                            the preservation of cultural heritage
                                                                            and facilitates sustainable resource
                                                                            management, making it a fundamental
                                                                            component of modern society's progress
                                                                            and development
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accrodion ">
                                                                <div class="accrodion-title">
                                                                    <h4>What user-level security measures are in
                                                                        place?</h4>
                                                                </div>
                                                                <div class="accrodion-content">
                                                                    <div class="inner">
                                                                        <p>User-level security measures encompass
                                                                            various strategies and practices to
                                                                            protect individual users and their data.
                                                                            These measures include strong password
                                                                            policies, multi-factor authentication
                                                                            (MFA), regular software updates and
                                                                            patches, and user education on security
                                                                            best practices. By implementing these
                                                                            measures, organizations can mitigate the
                                                                            risk of unauthorized access, data
                                                                            breaches, and other security threats,
                                                                            ensuring a safer digital environment for
                                                                            users and their sensitive information.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accrodion ">
                                                                <div class="accrodion-title">
                                                                    <h4>Can I manage multiple entities from one
                                                                        database?</h4>
                                                                </div>
                                                                <div class="accrodion-content">
                                                                    <div class="inner">
                                                                        <p>Yes, it is possible to manage multiple
                                                                            entities from one database. Database
                                                                            management systems (DBMS) offer features
                                                                            that allow you to create tables or
                                                                            collections for different entities
                                                                            within the same database, maintaining
                                                                            data separation and organization. This
                                                                            approach streamlines data management,
                                                                            reduces redundancy, and simplifies
                                                                            access control and backups. It's a
                                                                            common practice in various applications,
                                                                            from enterprise software to web
                                                                            services, where multiple data entities
                                                                            need to coexist within a single database
                                                                            for efficient data handling and
                                                                            retrieval. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accrodion ">
                                                                <div class="accrodion-title">
                                                                    <h4>Does your payroll software offer the ability
                                                                        to do job costing?</h4>
                                                                </div>
                                                                <div class="accrodion-content">
                                                                    <div class="inner">
                                                                        <p>
                                                                            I don't have access to specific payroll
                                                                            software or its features, as my
                                                                            knowledge is based on information up to
                                                                            September 2021. However, the ability to
                                                                            perform job costing is a feature often
                                                                            found in comprehensive payroll and
                                                                            accounting software. Job costing allows
                                                                            businesses to allocate labor costs and
                                                                            other expenses to specific projects or
                                                                            jobs, providing valuable insights into
                                                                            profitability and resource allocation.
                                                                            To determine if a particular payroll
                                                                            software offers job costing
                                                                            capabilities, it's advisable to consult
                                                                            the software's documentation or contact
                                                                            the software provider directly for
                                                                            detailed information on its features and
                                                                            functionalities.




                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="accrodion ">
                                    <div class="accrodion-title">
                                        <h4>How do we submit hours to you?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus, qui
                                                blanditiis praesentium voluptatum deleniti atque corrupti, quos
                                                dolores et quas molestias
                                                excepturi sint, obcaecati cupiditate non provident et harum quidem
                                                rerum facilis est et expedita distinctio nam libero tempore, </p>
                                        </div>
                                    </div>
                                </div>-->
                                                            <div class="accrodion ">
                                                                <div class="accrodion-title">
                                                                    <h4>Why is there a need to increase digital
                                                                        access?</h4>
                                                                </div>
                                                                <div class="accrodion-content">
                                                                    <div class="inner">
                                                                        <p>Increasing digital access is essential to
                                                                            bridge societal divides and promote
                                                                            equitable opportunities. It empowers
                                                                            individuals to access education,
                                                                            employment, and essential services
                                                                            regardless of their location or
                                                                            background. Moreover, digital access
                                                                            fuels economic growth, innovation, and
                                                                            efficient governance, making it a
                                                                            catalyst for overall development.
                                                                            Without broadening digital access,
                                                                            marginalized communities risk being left
                                                                            behind in an increasingly digital world,
                                                                            exacerbating social inequalities. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Faq Page Accrodion-->

                                            <!--Start Faq Page Img-->
                                            <div class="col-xl-5 wow slideInRight" data-wow-delay="500ms"
                                                data-wow-duration="2500ms">
                                                <div class="faq-page__img">
                                                    <div class="inner">
                                                        <img decoding="async"
                                                            src="wp-content/uploads/2023/07/lkh.jpg"
                                                            alt="faq-page-img1" title="faq-page-img1">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Faq Page Img-->
                                        </div>
                                    </div>
                                </section>
                                <!--End Faq Page-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
   
</Layout>