---
import Layout from "../layouts/Layout.astro";

interface Props {}

const {} = Astro.props;
---

<style>
    .page-header__bg {
        background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
    }
</style>
<Layout title="Graphic-Designing" description="Dive into the creative realm with Thunderbrains' CEO, the visionary behind our exceptional graphic design endeavors. Discover the artistic journey and innovative strategies that fue our commitment to captivating designs. Explore FAQs to glimpse into the mind shaping the visual identity of Thunderbrains." keywords="graphic design,creative excellence,artistic journey,designs,visual identity,innovative strategies">
   
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
        <div class="shape1 float-bob-x"><img style="height:223px" src="/wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                    Graphic-Designing
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Graphic-Designing</span><meta property="url" content="https://bracketweb.com/ontechwp/it-consultancy/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <div data-elementor-type="wp-page" data-elementor-id="1017" class="elementor elementor-1017">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-45731d99 services-details elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="45731d99" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-74583b5e"
                    data-id="74583b5e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-e352f77 elementor-widget elementor-widget-ontech-sidebar"
                            data-id="e352f77" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                            <div class="elementor-widget-container">
                                <!--Start Sidebar Single-->
                                <div class="sidebar__single sidebar__services wow animated fadeInUp"
                                    data-wow-delay="0.1s">

                                    <div class="title-box">
                                        <div class="inner">
                                            <div class="shape">
                                                <img decoding="async"
                                                    src="/wp-content/uploads/2023/07/sidebar-title-shape.png"
                                                    alt="alt" title="sidebar-title-shape">
                                            </div>
                                            <h2 class="">Services List</h2>
                                        </div>
                                    </div>

                                    <div class="sidebar__services-box">
                                        <ul class="sidebar__services-box-list clearfix">
                                            <li>
                                                <a class="normal" href="/it-consultancy">
                                                    IT Consultancy <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/digital-marketing">
                                                    Digital Marketing <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="active" href="/index.html">
                                                    Graphic Designing <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/data-structuring">
                                                    Data Structuring <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/web-development">
                                                    Web Development <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="normal" href="/seo-and-marketing">
                                                    SEO and Marketing <span class="icon-right-arrow2"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!--End Sidebar Single-->
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-285c21fd elementor-widget elementor-widget-ontech-sidebar"
                            data-id="285c21fd" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                            <div class="elementor-widget-container">
                                <!--Start Sidebar Single-->
                                <div class="sidebar__single sidebar__author wow animated fadeInUp"
                                    data-wow-delay="0.2s">
                                    <div class="sidebar__author-box text-center">
                                        <div class="shape1">
                                            <img decoding="async"
                                                src="/wp-content/uploads/2023/07/sidebar-shape1.png" alt="alt"
                                                title="sidebar-shape1">
                                        </div>
                                        <div class="shape2">
                                            <img decoding="async"
                                                src="/wp-content/uploads/2023/07/sidebar-shape2.png" alt="alt"
                                                title="sidebar-shape2">
                                        </div>
                                        <div class="shape3">
                                            <img decoding="async"
                                                src="/wp-content/uploads/2023/07/sidebar-shape3.png"
                                                alt="sidebar-shape3" title="sidebar-shape3">
                                        </div>
                                        <div class="shape4">
                                            <img decoding="async"
                                                src="/wp-content/uploads/2023/07/sidebar-shape4.png" alt="alt"
                                                title="sidebar-shape4">
                                        </div>
                                        <div class="sidebar__author-box-icon">
                                            <span aria-hidden="true" class="  icon-bubble-message"></span>
                                        </div>
                                        <div class="sidebar__author-box-text">
                                            <h3>I do not know the word ‘quit.’ Either I never did, or I have
                                                abolished it. </h3>
                                        </div>
                                        <div class="sidebar__author-box-img">
                                            <img decoding="async" src="/wp-content/uploads/2023/07/lkh.jpg" alt="alt"
                                                title="sidebar-img1">
                                        </div>
                                        <h2>Lakhwinder Singh</h2>
                                    </div>
                                </div>
                                <!--End Sidebar Single-->
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-66c91671 elementor-widget elementor-widget-ontech-sidebar"
                            data-id="66c91671" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                            <div class="elementor-widget-container">
                                <!--Start Sidebar Single-->
                                <div class="sidebar__single sidebar__contact wow animated fadeInUp"
                                    data-wow-delay="0.3s">
                                    <div class="title-box">
                                        <div class="inner">
                                            <div class="shape">
                                                <img decoding="async"
                                                    src="/wp-content/uploads/2023/07/sidebar-title-shape.png"
                                                    alt="alt" title="sidebar-title-shape">
                                            </div>
                                            <h2 class="">Have Any Query</h2>
                                        </div>
                                    </div>

                                    <div class="sidebar__contact-box">
                                        <div class="sidebar__contact-box-img">
                                            <div class="gradient-bg"
                                                style="background-image: url(wp-content/uploads/2023/07/sidebar-gradient-bg1.png);">
                                            </div>
                                            <img decoding="async" src="/wp-content/uploads/2023/07/lkh.jpg" alt="alt"
                                                title="sidebar-img2">
                                            <div class="overlay-content text-center">
                                                <h3 class="">
                                                    Have Questions? <br>
                                                    Nothing stops us from <br>
                                                    doing what we like
                                                </h3>
                                                <div class="number-box">
                                                    <div class="icon-box">
                                                        <span aria-hidden="true"
                                                            class="  icon-phone-auricular"></span>
                                                    </div>

                                                    <div class="text-box">
                                                        <a href="tel:9592749012">+91 959 27 49 012</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Sidebar Single-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-22b082a8"
                    data-id="22b082a8" data-element_type="column">
                    <div class="custom-margin elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-776570ab elementor-widget elementor-widget-heading"
                            data-id="776570ab" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.16.0 - 20-09-2023 */
                                    .elementor-heading-title {
                                        padding: 0;
                                        margin: 0;
                                        line-height: 1
                                    }

                                    .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                        color: inherit;
                                        font-size: inherit;
                                        line-height: inherit
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                        font-size: 15px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                        font-size: 19px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                        font-size: 29px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                        font-size: 39px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                        font-size: 59px
                                    }
                                    .cls-custom
                                         {
                                        font-family:Prompt;
                                        font-size:42px!important;
                                        font-weight:600!important;
                                    }
                                    .custom-margin{margin: 0px 0px 0px 30px;--e-column-margin-right: 0px;--e-column-margin-left: 30px;}
                                    
                                    .elementor-widget-heading .elementor-heading-title {
                                            color: var(--e-global-color-742e1a9);
                                            font-family: var(--e-global-typography-0e75bf1-font-family), Sans-serif;
                                            font-size: var(--e-global-typography-0e75bf1-font-size);
                                            font-weight: var(--e-global-typography-0e75bf1-font-weight);
                                            line-height: var(--e-global-typography-0e75bf1-line-height);
                                            letter-spacing: var(--e-global-typography-0e75bf1-letter-spacing);
                                            word-spacing: var(--e-global-typography-0e75bf1-word-spacing);
                                        }
                                </style>
                                <h2 class="cls-custom elementor-heading-title elementor-size-default">Graphic Designing</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5facac39 elementor-widget elementor-widget-heading"
                            data-id="5facac39" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Discover the art of visual
                                    storytelling with our expert graphic design services. At ThunderBrains, we turn
                                    ideas into captivating visuals that leave a lasting impression. Our creative
                                    team specializes in crafting unique designs that not only grab attention but
                                    also convey your brand's identity, ensuring your message stands out in a crowded
                                    digital world.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7422385c elementor-widget elementor-widget-heading"
                            data-id="7422385c" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">"From eye-catching logos
                                    and stunning website graphics to compelling marketing materials, we are your
                                    go-to partner for all things design. With a keen understanding of design
                                    principles, cutting-edge tools, and a commitment to delivering excellence, we
                                    transform your concepts into striking visuals that resonate with your audience.
                                    Let's work together to make your brand visually unforgettable</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5e18466a elementor-widget elementor-widget-heading"
                            data-id="5e18466a" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h3 class="elementor-heading-title elementor-size-default cls-custom">IT Conslting & Planning
                                </h3>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-73eb5428 elementor-widget elementor-widget-heading"
                            data-id="73eb5428" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Welcome to our IT
                                    Consulting & Planning services, where technology meets strategy. At
                                    ThunderBrains, we specialize in guiding organizations towards their digital
                                    goals. Our seasoned consultants leverage industry insights and best practices to
                                    develop tailored IT strategies that drive efficiency and innovation. Let us
                                    navigate the IT landscape for you, ensuring your technology investments align
                                    seamlessly with your business objectives."</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-61b91fc0 elementor-widget elementor-widget-html"
                            data-id="61b91fc0" data-element_type="widget" data-widget_type="html.default">
                            <div class="elementor-widget-container">
                                <ul class="services-details__content-text1-list ml-0">
                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-check-circle"></span>
                                        </div>

                                        <div class="text-box">
                                            <h4>Business IT Solutions</h4>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-check-circle"></span>
                                        </div>

                                        <div class="text-box">
                                            <h4>Identify Areas to Optimize</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-a2f9d9b services-details__content-img1 elementor-widget elementor-widget-image"
                            data-id="a2f9d9b" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.16.0 - 20-09-2023 */
                                    .elementor-widget-image {
                                        text-align: center
                                    }

                                    .elementor-widget-image a {
                                        display: inline-block
                                    }

                                    .elementor-widget-image a img[src$=".svg"] {
                                        width: 48px
                                    }

                                    .elementor-widget-image img {
                                        vertical-align: middle;
                                        display: inline-block
                                    }
                                </style> <img decoding="async" fetchpriority="high" width="770" height="455"
                                    src="/wp-content/uploads/2023/07/Shb.jpg"
                                    class="attachment-full size-full wp-image-1569" alt=""
                                    <!--srcset="https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4.jpg 770w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4-300x177.jpg 300w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4-768x454.jpg 768w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4-570x337.jpg 570w"
                                    --> <!--sizes="(max-width: 770px) 100vw, 770px" />-->
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-21c9ea82 elementor-widget elementor-widget-heading"
                            data-id="21c9ea82" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <p class="elementor-heading-title elementor-size-default">Explore our Business IT
                                    Solutions tailored to enhance your organization's efficiency and performance.
                                    Our expertise spans a wide spectrum of services, from streamlining workflows to
                                    optimizing infrastructure and implementing cutting-edge technologies. With a
                                    keen eye for identifying areas to optimize, we work closely with you to uncover
                                    hidden opportunities, reduce costs, and drive sustainable growth in your
                                    business..</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-2090f40b elementor-widget elementor-widget-ontech-info-box"
                            data-id="2090f40b" data-element_type="widget"
                            data-widget_type="ontech-info-box.default">
                            <div class="elementor-widget-container">
                                <ul class="services-details__content-text2-list ml-0">
                                    <li>
                                        <div class="icon-box">
                                            <span aria-hidden="true" class="  icon-web-design"></span>
                                            <div class="top-icon">
                                                <span class="icon-check-circle"></span>
                                            </div>
                                        </div>

                                        <div class="content-box">
                                            <h3 class="">IT Disaster recovery maturity Assessment</h3>
                                            <p class="">Prepare for the unexpected with our IT Disaster Recovery
                                                Maturity Assessment. We evaluate your readiness and provide
                                                actionable insights to strengthen your resilience against
                                                disruptions</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-box">
                                            <span aria-hidden="true" class="   icon-data"></span>
                                            <div class="top-icon">
                                                <span class="icon-check-circle"></span>
                                            </div>
                                        </div>

                                        <div class="content-box">
                                            <h3 class=" ">Plan for the unexpected</h3>
                                            <p class=" ">Life is unpredictable, and in the business world, being
                                                prepared for the unexpected is paramount. At [Your Company Name], we
                                                specialize in helping organizations plan for the unforeseen. Our
                                                tailored strategies and risk management solutions ensure that your
                                                business remains resilient and adaptable, even in the face of
                                                unexpected challenges. Trust us to safeguard your operations and
                                                keep your business on track, no matter what comes your way</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-4fbc1307 elementor-widget elementor-widget-ontech-image-box"
                            data-id="4fbc1307" data-element_type="widget"
                            data-widget_type="ontech-image-box.default">
                            <div class="elementor-widget-container">
                                <div class="services-details__content-text3">
                                    <div class="content-box">
                                        <p>In today's fast-paced business landscape, leveraging technology
                                            effectively can be the key to success. At ThunderBrains, we specialize
                                            in providing transformative integrated IT solutions that empower your
                                            organization to achieve its essential business goals and capitalize on
                                            growth opportunities. Our expert team ensures that your campaigns are
                                            not just successful but also future-proofed for long-term prosperity..
                                        </p>

                                        <ul class="ml-0">
                                            <li>
                                                <p>
                                                    <span aria-hidden="true" class="  icon-tick"></span> Your
                                                    Technology Partner for Success
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span aria-hidden="true" class="  icon-tick"></span> Why Choose
                                                    ThunderBrains
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <span aria-hidden="true" class="  icon-tick"></span> Embrace the
                                                    Future with Confidence
                                                </p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="img-box">
                                        <img decoding="async" style=" height:330px"
                                            src="/wp-content/uploads/2023/07/lkh.jpg" alt="alt"
                                            title="services-details-img2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </div>
    </Layout>