---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="custom-cursor__cursor"></div>
	<div class="custom-cursor__cursor-two"></div>
  
	<!-- Preloader -->
	<div class="preloader">
	  <div class="preloader__image"></div>
	</div>
	<!-- /.preloader -->
  
	<div id="page" class="site page-wrapper">
	  <a class="skip-link screen-reader-text" href="#primary">Skip to content</a>
  
	  <!-- the loop -->
	  <div
		data-elementor-type="wp-post"
		data-elementor-id="647"
		class="elementor elementor-647"
	  >
		<section
		  class="elementor-section elementor-top-section elementor-element elementor-element-f2f5944 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
		  data-id="f2f5944"
		  data-element_type="section"
		>
		  <div class="elementor-container elementor-column-gap-no">
			<div
			  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2133cfb"
			  data-id="2133cfb"
			  data-element_type="column"
			>
			  <div class="elementor-widget-wrap elementor-element-populated">
				<div
				  class="elementor-element elementor-element-874e485 elementor-widget elementor-widget-ontech-header"
				  data-id="874e485"
				  data-element_type="widget"
				  data-widget_type="ontech-header.default"
				>
				  <div class="elementor-widget-container">
					<!--Start Main Header One-->
					<header class="main-header main-header-one clearfix">
					  <div class="main-header-one__top">
						<div class="container">
						  <div class="main-header-one__top-inner">
							<div class="main-header-one__top-left">
							  <div class="main-header-one__top-left-btn">
								<a href="contact/index.html">Contact us</a>
							  </div>
							</div>
  
							<div class="main-header-one__top-right">
							  <div class="main-header__contact-info">
								<ul class="ml-0">
								  <li>
									<div class="inner">
									  <div class="icon-box">
										<span
										  aria-hidden="true"
										  class="ontech-icons-two-telephone"
										></span>
									  </div>
									  <div class="text-box">
										<p>Call for Anything</p>
										<h4>
										  <a href="tel:9779308242">9779308242</a>
										</h4>
									  </div>
									</div>
								  </li>
								  <li>
									<div class="inner">
									  <div class="icon-box">
										<span
										  aria-hidden="true"
										  class="ontech-icons-two-mail"></span>
									  </div>
									  <div class="text-box">
										<p>You may send an email</p>
										<h4>
										  <a href="mailto:yourmail@email.com"
											>contactus@thunderbrains.in</a
										  >
										</h4>
									  </div>
									</div>
								  </li>
								  <li>
									<div class="inner">
									  <div class="icon-box">
										<span
										  aria-hidden="true"
										  class="ontech-icons-two-clock"></span>
									  </div>
									  <div class="text-box">
										<p>Saturday,Sunday - Closed</p>
										<h4>Monday - Friday(9.00 - 7.00)</h4>
									  </div>
									</div>
								  </li>
								</ul>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
  
					  <div class="main-header-one__bottom">
						<nav class="main-menu clearfix">
						  <div class="main-menu__wrapper clearfix">
							<div class="container">
							  <div class="main-header-one__bottom-inner">
								<div class="main-header-one__bottom-left">
								  <div class="logo-one">
									<a href="index.html">
									  <img
										decoding="async"
										loading="lazy"
										width="80"
										height="30"
										src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png"
										alt="ThunderBrains Logo"
										style="color: white;"
									  />
									</a>
								  </div>
								</div>
  
								<div class="main-menu__main-menu-box">
								  <a href="#" class="mobile-nav__toggler">
									<i class="fa fa-bars"></i>
								  </a>
								  <div class="menu-menu-1-container">
									<ul id="menu-menu-1" class="main-menu__list">
									  <li
										id="menu-item-655"
										class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-655"
									  >
										<a href="index.html" aria-current="page"
										  >Home</a
										>
										<ul class="sub-menu">
										  <li
											id="menu-item-664"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item menu-item-664"
										  >
											<a
											  href="index.html"
											  aria-current="page"
											>
											  Home One
											</a>
										  </li>
										  <li
											id="menu-item-666"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-666"
										  >
											<a href="home-two/index.html">
											  Home Two
											</a>
										  </li>
										  <li
											id="menu-item-665"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-665"
										  >
											<a href="home-three/index.html">
											  Home Three
											</a>
										  </li>
										  <li
											id="menu-item-1676"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1676"
										  >
											<a href="#">One Page</a>
											<ul class="sub-menu">
											  <li
												id="menu-item-1679"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1679"
											  >
												<a
												  href="one-page-home-01/index.html"
												>
												  Home One
												</a>
											  </li>
											  <li
												id="menu-item-1678"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1678"
											  >
												<a
												  href="one-page-home-02/index.html"
												>
												  Home Two
												</a>
											  </li>
											  <li
												id="menu-item-1677"
												class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1677"
											  >
												<a
												  href="one-page-home-03/index.html"
												>
												  Home Three
												</a>
											  </li>
											</ul>
										  </li>
										  <li
											id="menu-item-1603"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1603"
										  >
											<a
											  href="index1a95.html?boxed_mode=yes"
											>
											  Home Boxed
											</a>
										  </li>
										  <li
											id="menu-item-1602"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1602"
										  >
											<a
											  href="home-rtl/index73cd.html?rtl_mode=yes#googtrans(en%7car)"
											>
											  Home RTL
											</a>
										  </li>
										</ul>
									  </li>
									  <li
										id="menu-item-678"
										class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-678"
									  >
										<a href="#">Pages</a>
										<ul class="sub-menu">
										  <li
											id="menu-item-656"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-656"
										  >
											<a href="about/index.html">About</a>
										  </li>
										  <li
											id="menu-item-675"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"
										  >
											<a href="team/index.html">Team</a>
										  </li>
										  <li
											id="menu-item-676"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"
										  >
											<a href="team-details/index.html">
											  Team Details
											</a>
										  </li>
										  <li
											id="menu-item-662"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-662"
										  >
											<a href="faq/index.html">Faq</a>
										  </li>
										  <li
											id="menu-item-663"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-663"
										  >
											<a href="gallery/index.html"
											  >Gallery</a
											>
										  </li>
										  <li
											id="menu-item-669"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-669"
										  >
											<a href="pricing/index.html"
											  >Pricing</a
											>
										  </li>
										  <li
											id="menu-item-999"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-999"
										  >
											<a href="sign-up/index.html">
											  Sign Up
											</a>
										  </li>
										  <li
											id="menu-item-1000"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1000"
										  >
											<a href="sign-in/index.html">
											  Sign In
											</a>
										  </li>
										  <li
											id="menu-item-1002"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1002"
										  >
											<a href="404.html">404</a>
										  </li>
										</ul>
									  </li>
									  <li
										id="menu-item-673"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-673"
									  >
										<a href="services/index.html">Services</a>
										<ul class="sub-menu">
										  <li
											id="menu-item-1005"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1005"
										  >
											<a href="services/index.html"
											  >Services</a
											>
										  </li>
										  <li
											id="menu-item-667"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-667"
										  >
											<a href="it-consultancy/index.html">
											  IT Consultancy
											</a>
										  </li>
										  <li
											id="menu-item-1131"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"
										  >
											<a
											  href="digital-marketing/index.html"
											>
											  Digital Marketing
											</a>
										  </li>
										  <li
											id="menu-item-1130"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1130"
										  >
											<a
											  href="graphic-designing/index.html"
											>
											  Graphic Designing
											</a>
										  </li>
										  <li
											id="menu-item-1129"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1129"
										  >
											<a href="data-structuring/index.html">
											  Data Structuring
											</a>
										  </li>
										  <li
											id="menu-item-1128"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1128"
										  >
											<a href="web-development/index.html">
											  Web Development
											</a>
										  </li>
										  <li
											id="menu-item-1127"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"
										  >
											<a
											  href="seo-and-marketing/index.html"
											>
											  SEO Marketing
											</a>
										  </li>
										</ul>
									  </li>
									  <li
										id="menu-item-671"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-671"
									  >
										<a href="projects/index.html">Projects</a>
										<ul class="sub-menu">
										  <li
											id="menu-item-1001"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1001"
										  >
											<a href="projects/index.html"
											  >Projects</a
											>
										  </li>
										  <li
											id="menu-item-670"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670"
										  >
											<a href="project-details/index.html">
											  Project Details
											</a>
										  </li>
										</ul>
									  </li>
									  <li
										id="menu-item-1596"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1596"
									  >
										<a href="shop/index.html">Shop</a>
										<ul class="sub-menu">
										  <li
											id="menu-item-1597"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1597"
										  >
											<a href="shop/index.html">Shop</a>
										  </li>
										  <li
											id="menu-item-1598"
											class="menu-item menu-item-type-post_type menu-item-object-product menu-item-1598"
										  >
											<a
											  href="product/beanie-with-logo/index.html"
											>
											  Shop Details
											</a>
										  </li>
										  <li
											id="menu-item-1599"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1599"
										  >
											<a
											  href="cart/index96d4.html?auto_cart=Dining%20Table"
											  >Cart</a
											>
										  </li>
										  <li
											id="menu-item-1600"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1600"
										  >
											<a
											  href="checkout/index96d4.html?auto_cart=Dining%20Table"
											  >Checkout</a
											>
										  </li>
										</ul>
									  </li>
									  <li
										id="menu-item-657"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-657"
									  >
										<a href="blog/index.html">Blog</a>
										<ul class="sub-menu">
										  <li
											id="menu-item-1004"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1004"
										  >
											<a href="blog/index.html">Blog</a>
										  </li>
										  <li
											id="menu-item-658"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-658"
										  >
											<a href="blog-list/index.html">
											  Blog List
											</a>
										  </li>
										  <li
											id="menu-item-1003"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1003"
										  >
											<a
											  href="6-things-you-must-know-before-hiring-a-digital-marketing-agency/index.html"
											>
											  Blog Details
											</a>
										  </li>
										</ul>
									  </li>
									  <li
										id="menu-item-661"
										class="menu-item menu-item-type-post_type menu-item-object-page menu-item-661"
									  >
										<a href="contact/index.html">Contact</a>
									  </li>
									</ul>
								  </div>
								</div>
								<div class="main-header-one__bottom-right">
								  <div class="main-header__search">
									<a
									  href="#"
									  class="main-menu__search search-toggler icon-search"
									></a>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</nav>
					  </div>
					</header>
				  </div>
				  <!--End Main Header One-->
  
				  <div
					class="stricky-header stricky-header__one stricked-menu main-menu"
				  >
					<div class="sticky-header__content">
					</div><!-- /.sticky-header__content -->
				  </div><!-- /.stricky-header -->
  
				  <div class="mobile-nav__wrapper">
					<div class="mobile-nav__overlay mobile-nav__toggler"></div>
					<!-- /.mobile-nav__overlay -->
					<div class="mobile-nav__content">
					  <span class="mobile-nav__close mobile-nav__toggler"></span>
  
					  <div class="logo-box logo-retina">
						<a href="index.html">
						  <img
							decoding="async"
							loading="lazy"
							width="80"
							height="30"
							src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png"
							alt="Ontech"
						  />
						</a>
					  </div>
					  <!-- /.logo-box -->
					  <div class="mobile-nav__container"></div>
					  <!-- /.mobile-nav__container -->
					  <ul class="mobile-nav__contact list-unstyled ml-0">
						<li>
						  <i class="fa fa-envelope"></i>
						  <a href="mailto:needhelp@ontech.com"
							>needhelp@ontech.com</a
						  >
						</li>
						<li>
						  <i class="fa fa-phone-alt"></i>
						  <a href="tel:666-888-0000">666 888 0000</a>
						</li>
					  </ul><!-- /.mobile-nav__contact -->
					  <div class="mobile-nav__top">
						<div class="mobile-nav__social">
						  <a class="icon-svg" href="https://www.facebook.com/">
							<span aria-hidden="true" class="fab fa-facebook-f"
							></span>
						  </a>
						  <a class="icon-svg" href="https://www.twitter.com/">
							<span aria-hidden="true" class="fab fa-twitter"
							></span>
						  </a>
						  <a class="icon-svg" href="https://www.instagram.com/">
							<span aria-hidden="true" class="icon-instagram"
							></span>
						  </a>
						  <a class="icon-svg" href="https://www.instagram.com/">
							<span aria-hidden="true" class="fab fa-pinterest-p"
							></span>
						  </a>
						</div><!-- /.mobile-nav__social -->
					  </div><!-- /.mobile-nav__top -->
					</div>
					<!-- /.mobile-nav__content -->
				  </div>
  
				  <div class="search-popup">
					<div class="search-popup__overlay search-toggler"></div>
					<!-- /.search-popup__overlay -->
					<div class="search-popup__content">
					  <form action="https://bracketweb.com/ontechwp/">
						<label for="search" class="sr-only">
						  search here
						</label><!-- /.sr-only -->
						<input
						  type="text"
						  id="search"
						  name="s"
						  placeholder="Search Here..."
						/>
						<button
						  type="submit"
						  aria-label="search submit"
						  class="thm-btn"
						>
						  <i class="icon-search"></i>
						</button>
					  </form>
					</div>
					<!-- /.search-popup__content -->
				  </div>
  
				  <span data-target="html" class="scroll-to-target scroll-to-top">
					<i class="fa fa-angle-up"></i>
				  </span>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	  </div>
	</div>
	<!-- end of the loop -->
  
 
	<div class="footer-wrapper">
	  <!-- the loop -->
	  <div
		data-elementor-type="wp-post"
		data-elementor-id="871"
		class="elementor elementor-871"
	  >
		<section
		  class="elementor-section elementor-top-section elementor-element elementor-element-7bdc8e71 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
		  data-id="7bdc8e71"
		  data-element_type="section"
		>
		  <div class="elementor-container elementor-column-gap-no">
			<div
			  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61339ad3"
			  data-id="61339ad3"
			  data-element_type="column"
			>
			  <div class="elementor-widget-wrap elementor-element-populated">
				<div
				  class="elementor-element elementor-element-7dfed261 elementor-widget elementor-widget-ontech-contact-info"
				  data-id="7dfed261"
				  data-element_type="widget"
				  data-widget_type="ontech-contact-info.default"
				>
				  <div class="elementor-widget-container">
					<!--Start Contact Info One-->
					<section class="contact-info-one">
					  <div class="container">
						<div class="contact-info-one__inner">
						  <div
							class="contact-info-one__bg"
							style="background-image: url(wp-content/uploads/2023/07/contact-info-v1-bg.jpg);"
						  >
						  </div>
						  <div class="row">
							<!--Start Contact Info One Single-->
							<div class="col-xl-4 col-lg-4">
							  <div class="contact-info-one__single">
								<div class="icon-box">
								  <span
									aria-hidden="true"
									class="icon-location-filled"></span>
								</div>
  
								<div class="content-box">
								  <h3>
									4th Floor, Plot No C, Times Square, #405,
									196-A, Phase 8B, Industrial Area, Sector 74,
									Sahibzada Ajit Singh Nagar, Punjab 160055
								  </h3>
								</div>
							  </div>
							</div>
							<!--End Contact Info One Single-->
							<!--Start Contact Info One Single-->
							<div class="col-xl-4 col-lg-4">
							  <div class="contact-info-one__single ml75">
								<div class="icon-box">
								  <span
									aria-hidden="true"
									class="icon-phone-auricular"></span>
								</div>
  
								<div class="content-box">
								  <p>Get In Touch</p>
								  <h4>
									<a href="tel:9779308242">9779308242</a>
								  </h4>
								</div>
							  </div>
							</div>
							<!--End Contact Info One Single-->
							<!--Start Contact Info One Single-->
							<div class="col-xl-4 col-lg-4">
							  <div class="contact-info-one__single">
								<div class="icon-box">
								  <span aria-hidden="true" class="icon-email2"
								  ></span>
								</div>
  
								<div class="content-box">
								  <p>Quick Email us</p>
								  <h3>
									<a href="mailto:contactus@thunderbrains.in"
									  >contactus@thunderbrains.in</a
									>
								  </h3>
								</div>
							  </div>
							</div>
							<!--End Contact Info One Single-->
						  </div>
						</div>
					  </div>
					</section>
					<!--End Contact Info One-->
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>
		<section
		  class="elementor-section elementor-top-section elementor-element elementor-element-4d58d09f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
		  data-id="4d58d09f"
		  data-element_type="section"
		  data-settings='{"background_background":"classic"}'
		>
		  <div class="elementor-container elementor-column-gap-no">
			<div
			  class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-37efb47a footer-one"
			  data-id="37efb47a"
			  data-element_type="column"
			>
			  <div class="elementor-widget-wrap elementor-element-populated">
				<div
				  class="elementor-element elementor-element-1a7cc8e5 elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-footer-shape"
				  data-id="1a7cc8e5"
				  data-element_type="widget"
				  data-widget_type="footer-shape.default"
				>
				  <div class="elementor-widget-container">
					<div
					  class="footer-one__bg"
					  style="background-image: url(wp-content/uploads/2023/07/footer-bg.jpg);"
					>
					</div>
					<div class="shape1 float-bob-x">
					  <img
						decoding="async"
						src="wp-content/uploads/2023/07/footer-v1-shape1.png"
						alt="alt"
						title="footer-v1-shape1"
					  />
					</div>
					<div class="shape2 float-bob-y">
					  <img
						decoding="async"
						src="wp-content/uploads/2023/07/footer-v1-shape2.png"
						alt="alt"
						title="footer-v1-shape2"
					  />
					</div>
					<div class="shape3 float-bob-y">
					  <img
						decoding="async"
						src="wp-content/uploads/2023/07/footer-v1-shape3.png"
						alt="alt"
						title="footer-v1-shape3"
					  />
					</div>
					<div class="shape4 float-bob-x">
					  <img
						decoding="async"
						src="wp-content/uploads/2023/07/footer-v1-shape4.png"
						alt="alt"
						title="footer-v1-shape4"
					  />
					</div>
				  </div>
				</div>
				<section
				  class="elementor-section elementor-inner-section elementor-element elementor-element-681d0305 footer-one__top elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				  data-id="681d0305"
				  data-element_type="section"
				>
				  <div class="elementor-container elementor-column-gap-default">
					<div
					  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-24995604"
					  data-id="24995604"
					  data-element_type="column"
					>
					  <div
						class="elementor-widget-wrap elementor-element-populated"
					  >
						<div
						  class="elementor-element elementor-element-70ddcf5a elementor-widget__width-initial elementor-widget elementor-widget-footer-about"
						  data-id="70ddcf5a"
						  data-element_type="widget"
						  data-widget_type="footer-about.default"
						>
						  <div class="elementor-widget-container">
							<div class="footer-one__single footer-one__about">
							  <div class="footer-one__about-logo">
								<a href="#">
								  <img
									decoding="async"
									loading="lazy"
									width="179"
									height="42"
									src="wp-content\uploads\2023\07\cropped-Thunder-Brain-Logo-01-1.png"
									alt="ThunderBrains"
								  />
								</a>
							  </div>
  
							  <div class="footer-one__about-text">
								<p>
								  4th Floor, Plot No C, Times Square, #405, 196-A,
								  Phase 8B, Industrial Area,
								  <br />Sector 74, Sahibzada Ajit Singh Nagar,
								  Punjab 160055
								</p>
							  </div>
							  <div class="footer-one__about-cta">
								<p>
								  <span
									aria-hidden="true"
									class="ontech-icons-two-telephone"></span>
								  <a href="tel:9779308242">+91 977 93 08 242</a>
								</p>
  
								<p>
								  <span
									aria-hidden="true"
									class="ontech-icons-two-mail"></span>
								  <a href="mailto:contactus@thunderbrains.in"
									>contactus@thunderbrains.in</a
								  >
								</p>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div
					  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5ccd46c6"
					  data-id="5ccd46c6"
					  data-element_type="column"
					>
					  <div
						class="elementor-widget-wrap elementor-element-populated"
					  >
						<div
						  class="elementor-element elementor-element-398caa2e elementor-widget elementor-widget-footer-blog"
						  data-id="398caa2e"
						  data-element_type="widget"
						  data-widget_type="footer-blog.default"
						>
						  <div class="elementor-widget-container">
							<div class="footer-one__single footer-one__post">
							  <div class="title-box">
								<h3>Popular Post</h3>
							  </div>
							  <div class="footer-one__post-box">
								  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div
					  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7ee2ff6"
					  data-id="7ee2ff6"
					  data-element_type="column"
					>
					  <div
						class="elementor-widget-wrap elementor-element-populated"
					  >
						<div
						  class="elementor-element elementor-element-3bb9e471 elementor-widget elementor-widget-footer-nav-menu"
						  data-id="3bb9e471"
						  data-element_type="widget"
						  data-widget_type="footer-nav-menu.default"
						>
						  <div class="elementor-widget-container">
							<div class="footer-one__single footer-one__links">
							  <div class="title-box">
								<h3>Links</h3>
							  </div>
							  <div class="footer-one__links-box">
								<ul
								  id="menu-links"
								  class="footer-one__links-list ml-0"
								>
								  <li
									id="menu-item-898"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-898"
								  >
									<a href="#about">Cookie Policy</a>
								  </li>
								  <li
									id="menu-item-899"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-899"
								  >
									<a href="#about">Careers</a>
								  </li>
								  <li
									id="menu-item-900"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-900"
								  >
									<a href="#about">Policy</a>
								  </li>
								  <li
									id="menu-item-901"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-901"
								  >
									<a href="#about">About us</a>
								  </li>
								  <li
									id="menu-item-902"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-902"
								  >
									<a href="#contacts">Contact Us</a>
								  </li>
								
								</ul>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<div
					  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-58e629be"
					  data-id="58e629be"
					  data-element_type="column"
					>
					  <div
						class="elementor-widget-wrap elementor-element-populated"
					  >
						<div
						  class="elementor-element elementor-element-29a065a0 elementor-widget elementor-widget-footer-subscribe"
						  data-id="29a065a0"
						  data-element_type="widget"
						  data-widget_type="footer-subscribe.default"
						>
						  <div class="elementor-widget-container">
							<div
							  class="footer-one__single footer-one__newsletter"
							>
							  <div class="title-box">
								<h3>Newsletter</h3>
							  </div>
							  <div class="footer-one__newsletter-box">
								<div class="footer-one__newsletter-text2">
								  <p>
									Looking to kick-off your project in <br />
									 the next 30-90 days?
								  </p>
								</div>
								<form
								  class="footer-one__newsletter-form mc-form"
								  data-url="http://tt.com"
								>
								  <div
									class="footer-one__newsletter-form-input-box"
								  >
									<div class="icon">
									  <span aria-hidden="true" class="icon-email2"
									  ></span>
									</div>
									<input
									  type="email"
									  placeholder="Enter your email"
									  name="email"
									/>
								  </div>
  
								  <div class="footer-one__newsletter-btn">
									<button class="thm-btn" type="submit">
									  Subscribe
									</button>
								  </div>
								</form>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</section>
				<div
				  class="elementor-element elementor-element-39fb137b elementor-widget elementor-widget-footer-copyright"
				  data-id="39fb137b"
				  data-element_type="widget"
				  data-widget_type="footer-copyright.default"
				>
				  <div class="elementor-widget-container">
					<div class="footer-one__bottom">
					  <div class="container">
						<div class="row">
						  <div class="col-xl-12">
							<div class="footer-one__bottom-inner">
							  <div class="footer-one__bottom-left">
								
								<div class="footer-one__bottom-right">
								  <p>
									© All Copyright 2023 by <a href="#"
									  >ThunderBrains</a
									>
								  </p>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>
		<!-- end of the loop -->
	  </div><!-- /.footer-wrapper -->
  
	  <div id="woosw_wishlist" class="woosw-popup woosw-popup-center"></div>
	</div>		
</Layout>
