---
import Layout from "../layouts/Layout.astro";

interface Props {}

const {} = Astro.props;
---
<style>
    .page-header__bg {
        background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
    }
</style>
<Layout title="Projects" description="Thunder Brains stands at the forefront of IT consultancy, merging innovative approaches with hands-on expertise. Our project portfolio speaks volumes, reflecting our commitment to turning tech visions into actionable realities" keywords="Innovative,Hands-on tech expertise,Tech vision transformation,Actionable IT realities">
   
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
        <div class="shape1 float-bob-x"><img style="height:223px" src="../wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                    Projects
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Projects</span><meta property="url" content="https://bracketweb.com/ontechwp/it-consultancy/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <div data-elementor-type="wp-page" data-elementor-id="27" class="elementor elementor-27">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-9213246 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-id="9213246" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ce81efe"
                    data-id="ce81efe" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-0fcee07 elementor-widget elementor-widget-ontech-portfolio"
                            data-id="0fcee07" data-element_type="widget"
                            data-widget_type="ontech-portfolio.default">
                            <div class="elementor-widget-container">
                                <!--Start Cases One-->
                                <!--Start Cases One-->
                                <!--Start Cases One-->
                                <!--Start Projects One-->
                                <section class="projects-one projects-one--projects">
                                    <div class="container">

                                        <div class="row">
                                            <!--Start Projects One Single-->
                                            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0ms"
                                                data-wow-duration="1500ms">
                                                <div class="projects-one__single">
                                                    <div class="projects-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/projects-v1-img1.jpg"
                                                                alt="alt" title="projects-v1-img1">
                                                            <div class="overlay-content">
                                                                <div class="shape1">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape1.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape2">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape2.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape3">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape3.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape4">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape4.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="content-box">
                                                                    <p class="text1">Tech</p>
                                                                    <h3>
                                                                        <a class=""
                                                                            href="/project-details">Tech
                                                                            cover industry</a>
                                                                    </h3>
                                                                    <p class="text2">The tech insurance industry
                                                                        safeguards against cyber risks and
                                                                        technology-related losses, crucial in our
                                                                        digital era. It's a safety net for
                                                                        individuals and businesses alike.</p>
                                                                </div>

                                                                <div class="icon-box">
                                                                    <a href="/project-details">
                                                                        <span aria-hidden="true"
                                                                            class="  icon-right-arrow3"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Projects One Single-->
                                            <!--Start Projects One Single-->
                                            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0ms"
                                                data-wow-duration="1500ms">
                                                <div class="projects-one__single">
                                                    <div class="projects-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/projects-v1-img2.jpg"
                                                                alt="alt" title="projects-v1-img2">
                                                            <div class="overlay-content">
                                                                <div class="shape1">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape1.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape2">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape2.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape3">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape3.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape4">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape4.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="content-box">
                                                                    <p class="text1 text1">Tech</p>
                                                                    <h3>
                                                                        <a class=" "
                                                                            href="project-details">Application
                                                                            Integration</a>
                                                                    </h3>
                                                                    <p class="text2 text2">Application integration
                                                                        streamlines software communication,
                                                                        enhancing efficiency and productivity in
                                                                        today's digital landscape. It's the backbone
                                                                        of modern businesses.</p>
                                                                </div>

                                                                <div class="icon-box">
                                                                    <a href="project-details">
                                                                        <span aria-hidden="true"
                                                                            class="  icon-right-arrow3"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Projects One Single-->
                                            <!--Start Projects One Single-->
                                            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0ms"
                                                data-wow-duration="1500ms">
                                                <div class="projects-one__single">
                                                    <div class="projects-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/projects-v1-img3.jpg"
                                                                alt="alt" title="projects-v1-img3">
                                                            <div class="overlay-content">
                                                                <div class="shape1">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape1.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape2">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape2.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape3">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape3.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape4">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape4.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="content-box">
                                                                    <p class="text1 text1 text1">Tech</p>
                                                                    <h3>
                                                                        <a class="  "
                                                                            href="/project-details">Database
                                                                            Design</a>
                                                                    </h3>
                                                                    <p class="text2 text2 text2">Database design is
                                                                        the foundation of efficient data management,
                                                                        influencing the organization's ability to
                                                                        store, retrieve, and utilize information
                                                                        effectively.</p>
                                                                </div>

                                                                <div class="icon-box">
                                                                    <a href="/project-details">
                                                                        <span aria-hidden="true"
                                                                            class="  icon-right-arrow3"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Projects One Single-->
                                            <!--Start Projects One Single-->
                                            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0ms"
                                                data-wow-duration="1500ms">
                                                <div class="projects-one__single">
                                                    <div class="projects-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/projects-v1-img4.jpg"
                                                                alt="alt" title="projects-v1-img4">
                                                            <div class="overlay-content">
                                                                <div class="shape1">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape1.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape2">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape2.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape3">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape3.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape4">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape4.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="content-box">
                                                                    <p class="text1 text1 text1 text1">Cyber</p>
                                                                    <h3>
                                                                        <a class="   "
                                                                            href="/project-details">Cyber
                                                                            Program Management</a>
                                                                    </h3>
                                                                    <p class="text2 text2 text2 text2">Cyber program
                                                                        management ensures a proactive and organized
                                                                        approach to safeguarding digital assets
                                                                        against cyber threats.</p>
                                                                </div>

                                                                <div class="icon-box">
                                                                    <a href="/project-details">
                                                                        <span aria-hidden="true"
                                                                            class="  icon-right-arrow3"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Projects One Single-->
                                            <!--Start Projects One Single-->
                                            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0ms"
                                                data-wow-duration="1500ms">
                                                <div class="projects-one__single">
                                                    <div class="projects-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/projects-v1-img5.jpg"
                                                                alt="alt" title="projects-v1-img5">
                                                            <div class="overlay-content">
                                                                <div class="shape1">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape1.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape2">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape2.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape3">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape3.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape4">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape4.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="content-box">
                                                                    <p class="text1 text1 text1 text1 text1">
                                                                        Marketing</p>
                                                                    <h3>
                                                                        <a class="    "
                                                                            href="/project-details">Digital
                                                                            Marketing</a>
                                                                    </h3>
                                                                    <p class="text2 text2 text2 text2 text2">
                                                                        Digital marketing leverages online channels
                                                                        to reach and engage with a target audience,
                                                                        driving brand awareness and business growth
                                                                        in the digital ag
                                                                    </p>
                                                                </div>

                                                                <div class="icon-box">
                                                                    <a href="/project-details">
                                                                        <span aria-hidden="true"
                                                                            class="  icon-right-arrow3"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Projects One Single-->
                                            <!--Start Projects One Single-->
                                            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0ms"
                                                data-wow-duration="1500ms">
                                                <div class="projects-one__single">
                                                    <div class="projects-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/projects-v1-img6.jpg"
                                                                alt="projects-v1-img6" title="projects-v1-img6">
                                                            <div class="overlay-content">
                                                                <div class="shape1">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape1.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape2">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape2.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape3">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape3.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="shape4">
                                                                    <img decoding="async"
                                                                        src="../wp-content/uploads/2023/07/projects-v1-shape4.png"
                                                                        alt="alt">
                                                                </div>
                                                                <div class="content-box">
                                                                    <p class="text1 text1 text1 text1 text1 text1">
                                                                        Tech</p>
                                                                    <h3>
                                                                        <a class="     "
                                                                            href="/project-details">Business
                                                                            Consulting Tech</a>
                                                                    </h3>
                                                                    <p class="text2 text2 text2 text2 text2 text2">
                                                                        Business consulting in the tech sector
                                                                        offers expert guidance to organizations,
                                                                        optimizing technology strategies and driving
                                                                        innovation for sustainable growth.
                                                                    </p>
                                                                </div>

                                                                <div class="icon-box">
                                                                    <a href="/project-details">
                                                                        <span aria-hidden="true"
                                                                            class="  icon-right-arrow3"></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Projects One Single-->
                                        </div>
                                    </div>
                                </section>
                                <!--End Projects One-->
                                <!--Start Cases One-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </div>

</Layout>