---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {}

const {} = Astro.props;
---
<style>
    .page-header__bg {
    background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
}
</style>
<Layout title="Project Details" description="" keywords="">
    <Header />
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
        <div class="shape1 float-bob-x"><img style="height:240px" src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                    Project Details
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Project Details</span><meta property="url" content="https://bracketweb.com/ontechwp/project-details/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-2cb0989 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2cb0989" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9896b1a" data-id="9896b1a" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-068dbdd elementor-widget elementor-widget-ontech-image-box" data-id="068dbdd" data-element_type="widget" data-widget_type="ontech-image-box.default">
                        <div class="elementor-widget-container">
                            <div class="projects-details-img1">
                                <div class="inner">
                                    <img decoding="async" style="padding:55px" src="wp-content/uploads/2023/07/Shb.jpg" alt="alt" title="projects-details-img1">
                                </div>

                                <div class="content-box">
                                    <ul class="ml-0">
                                        <li>
                                            <div class="icon-box">
                                                <span aria-hidden="true" class="  icon-users2"></span>
                                            </div>

                                            <div class="text-box">
                                                <p>Clients:</p>
                                                <h4>Nor 41 Road, USA</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-box">
                                                <span aria-hidden="true" class="   icon-copy"></span>
                                            </div>

                                            <div class="text-box">
                                                <p>Category:</p>
                                                <h4>Full Stack Developer</h4>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon-box">
                                                <span aria-hidden="true" class="   icon-clock2"></span>
                                            </div>

                                            <div class="text-box">
                                                <p>Date:</p>
                                                <h4>March 05, 2023</h4>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-9fd15b7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9fd15b7" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-afe89b0" data-id="afe89b0" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-17140fc projects-details-text1 elementor-widget elementor-widget-html" data-id="17140fc" data-element_type="widget" data-widget_type="html.default">
                        <div class="elementor-widget-container">
                            <div class="title-box">
                                <h2>Full Stack Developer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0ad5463 elementor-widget elementor-widget-heading" data-id="0ad5463" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 20-09-2023 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }.cls-custom
                                         {
                                        font-family:Prompt;
                                        font-size:42px!important;
                                        font-weight:600!important;
                                    }

                                    
                                    .elementor-widget-heading .elementor-heading-title {
                                            color: var(--e-global-color-742e1a9);
                                            font-family: var(--e-global-typography-0e75bf1-font-family), Sans-serif;
                                            font-size: var(--e-global-typography-0e75bf1-font-size);
                                            font-weight: var(--e-global-typography-0e75bf1-font-weight);
                                            line-height: var(--e-global-typography-0e75bf1-line-height);
                                            letter-spacing: var(--e-global-typography-0e75bf1-letter-spacing);
                                            word-spacing: var(--e-global-typography-0e75bf1-word-spacing);
                                        }
                            </style><h3 class="Cls-Customelementor-heading-title elementor-size-default">Project Overview</h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-1cd5ccb elementor-widget elementor-widget-heading" data-id="1cd5ccb" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">
                                The Online E-commerce Platform is a dynamic web application that combines the power of .NET Core and Angular to create an engaging shopping experience. Users can easily register, log in, and explore a rich catalog of products, complete with detailed descriptions and ratings. Adding items to the shopping cart is a breeze, and the platform seamlessly handles secure online payments. For administrators, a robust dashboard offers comprehensive control over products, orders, and users. With a responsive design, top-notch security, and optimized performance, this e-commerce solution delivers a user-friendly and feature-rich online shopping environment for both customers and administrators.
                            </p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-bda7531 elementor-widget elementor-widget-heading" data-id="bda7531" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">As users navigate the Online E-commerce Platform, they can leave product reviews and ratings to share their experiences. Admins can effortlessly manage inventory, track sales analytics, and generate reports to make informed decisions. Security measures, including encryption and GDPR compliance, ensure user data is well-protected. Finally, with continuous integration and deployment pipelines, the platform offers seamless updates and efficient maintenance, providing a reliable and scalable online shopping solution. </p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-99631a8 elementor-widget elementor-widget-heading" data-id="99631a8" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="Cls-Customelementor-heading-title elementor-size-default">What is A Full Stack Developer?</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-30ba977 elementor-widget elementor-widget-heading" data-id="30ba977" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">
                                A full-stack developer is a versatile professional who possesses expertise in both front-end and back-end web development. They are proficient in multiple programming languages, frameworks, and technologies, allowing them to handle the entire web application development process. Full-stack developers can create the user interface, design databases, write server-side code, and manage the deployment and hosting of web applications. Their ability to work on both the client and server sides of a project makes them invaluable in creating seamless, end-to-end web solutions. They play a critical role in turning ideas into functional, user-friendly websites and web applications.
                            </p>
                        </div>
                    </div>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-d4b8586 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d4b8586" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1cc8d8a" data-id="1cc8d8a" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8f9880b projects-details-text3-img elementor-widget elementor-widget-image" data-id="8f9880b" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <style>
                                                /*! elementor - v3.16.0 - 20-09-2023 */
                                                .elementor-widget-image {
                                                    text-align: center
                                                }

                                                    .elementor-widget-image a {
                                                        display: inline-block
                                                    }

                                                        .elementor-widget-image a img[src$=".svg"] {
                                                            width: 48px
                                                        }

                                                    .elementor-widget-image img {
                                                        vertical-align: middle;
                                                        display: inline-block
                                                    }
                                            </style>												<img decoding="async" style="height:510px" src="wp-content/uploads/2023/07/lkh.jpg" title="projects-details-img2" alt="alt" loading="lazy" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-465effb projects-details-text3-content" data-id="465effb" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-dbfdf23 elementor-widget elementor-widget-heading" data-id="dbfdf23" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="Cls-Customelementor-heading-title elementor-size-default">Our goal</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c65d7a9 elementor-widget elementor-widget-heading" data-id="c65d7a9" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <p class="elementor-heading-title elementor-size-default">
                                                In the IT industry, our core goal is innovation and cutting-edge solutions. We relentlessly pursue the latest technologies, prioritize cybersecurity, and strive for efficiency and scalability. Our talented team is our greatest asset, and we invest in their growth to maintain our competitive edge.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-68ae42d elementor-widget elementor-widget-html" data-id="68ae42d" data-element_type="widget" data-widget_type="html.default">
                                        <div class="elementor-widget-container">
                                            <div class="text-box2">
                                                <h3>The Idea Of Corporate Management</h3>
                                                <ul class="ml-0">
                                                    <li>
                                                        <div class="icon-box">
                                                            <span class="icon-check-circle"></span>
                                                        </div>
                                                        <div class="text-box">
                                                            <p>
                                                                Master Modern UI
                                                            </p>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="icon-box clr2">
                                                            <span class="icon-check-circle"></span>
                                                        </div>
                                                        <div class="text-box">
                                                            <p>
                                                                Corporate Graphics
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d143eba elementor-widget elementor-widget-html" data-id="d143eba" data-element_type="widget" data-widget_type="html.default">
                                        <div class="elementor-widget-container">
                                            <div class="text-box3">
                                                <h2>User Interface (UI) Designer</h2>
                                                <p>
                                                    A UI (User Interface) Designer is a pro at crafting user-friendly and visually appealing digital interfaces. They collaborate with UX experts to integrate design seamlessly, creating elements like buttons and layouts that enhance user experiences. Their role is pivotal in making digital products both functional and attractive.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-83dc750 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="83dc750" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56a0315" data-id="56a0315" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-0658419 elementor-widget elementor-widget-ontech-call-to-action" data-id="0658419" data-element_type="widget" data-widget_type="ontech-call-to-action.default">
                        <div class="elementor-widget-container">
                            <div class="projects-details-text4">
                                <div class="projects-details-text4-bg" style="background-image: url(wp-content/uploads/2023/07/projects-details-text4-bg.jpg);"></div>

                                <div class="text-box">
                                    <h2 class="cta-two__title">Get A Free Visual Design Consultation</h2>
                                </div>

                                <div class="btn-box">
                                    <a class="thm-btn" href="/project-details">Lets Talk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="elementor-section elementor-top-section elementor-element elementor-element-4e29bbff elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4e29bbff" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-491a0fd0" data-id="491a0fd0" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-30286391 elementor-widget elementor-widget-ontech-google-maps" data-id="30286391" data-element_type="widget" data-widget_type="ontech-google-maps.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-custom-embed">
                                <iframe src="https://maps.google.com/maps?q=ThunderBrains&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near"
                                        title="Thunder Brains Pvt. Ltd."
                                        aria-label="Thunder Brains Pvt. Ltd."
                                        width="100%"
                                        height="500px">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



</div>
    <Footer />
</Layout>