---
import Layout from "../layouts/Layout.astro";


interface Props {}

const {} = Astro.props;
---
<style>
    .page-header__bg {
        background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
    }
</style>
<Layout title="Seo and marketing" description="Experience top-notch SEO and marketing solutions at Thunderbrains. Our expert team specializes in crafting data-driven SEO strategies and impactful marketing campaigns. Let us optimize your online presence and drive traffic that converts. Explore how our tailored approaches can transform your brand's visibility and engagement." keywords="SEO, marketing solutions, Thunderbrains SEO, data-driven strategies, impactful ,marketing campaigns, online presence optimization, brand visibility, engagement strategies">

<section class="page-header ">
    <div class="page-header__bg"></div>
    <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
    <div class="shape1 float-bob-x"><img style="height:223px" src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
    <div class="container">
        <div class="page-header__inner text-center">
            <h2>
                SEO and Marketing
            </h2>

            <ul class="thm-breadcrumb list-unstyled ml-0">
                <!-- Breadcrumb NavXT 7.2.0 -->
                <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item"> SEO and Marketing</span><meta property="url" content="https://bracketweb.com/ontechwp/it-consultancy/"><meta property="position" content="2"></span></li>
            </ul>
        </div>
    </div>
</section>
<div data-elementor-type="wp-page" data-elementor-id="1032" class="elementor elementor-1032">
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-4c5a104a services-details elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="4c5a104a" data-element_type="section">
        <div class="elementor-container elementor-column-gap-no">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-60d3cb68"
                data-id="60d3cb68" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-23d34e6e elementor-widget elementor-widget-ontech-sidebar"
                        data-id="23d34e6e" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                        <div class="elementor-widget-container">
                            <!--Start Sidebar Single-->
                            <div class="sidebar__single sidebar__services wow animated fadeInUp"
                                data-wow-delay="0.1s">

                                <div class="title-box">
                                    <div class="inner">
                                        <div class="shape">
                                            <img decoding="async"
                                                src="wp-content/uploads/2023/07/sidebar-title-shape.png"
                                                alt="alt" title="sidebar-title-shape">
                                        </div>
                                        <h2 class="">Services List</h2>
                                    </div>
                                </div>

                                <div class="sidebar__services-box">
                                    <ul class="sidebar__services-box-list clearfix">
                                        <li>
                                            <a class="normal" href="/it-consultancy">
                                                IT Consultancy <span class="icon-right-arrow2"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="normal" href="/digital-marketing">
                                                Digital Marketing <span class="icon-right-arrow2"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="normal" href="/graphic-designing">
                                                Graphic Designing <span class="icon-right-arrow2"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="normal" href="/data-structuring">
                                                Data Structuring <span class="icon-right-arrow2"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="normal" href="/web-development">
                                                Web Development <span class="icon-right-arrow2"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="active" href="/index.html">
                                                SEO and Marketing <span class="icon-right-arrow2"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!--End Sidebar Single-->
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-49333baf elementor-widget elementor-widget-ontech-sidebar"
                        data-id="49333baf" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                        <div class="elementor-widget-container">
                            <!--Start Sidebar Single-->
                            <div class="sidebar__single sidebar__author wow animated fadeInUp"
                                data-wow-delay="0.2s">
                                <div class="sidebar__author-box text-center">
                                    <div class="shape1">
                                        <img decoding="async"
                                            src="wp-content/uploads/2023/07/sidebar-shape1.png" alt="alt"
                                            title="sidebar-shape1">
                                    </div>
                                    <div class="shape2">
                                        <img decoding="async"
                                            src="wp-content/uploads/2023/07/sidebar-shape2.png" alt="alt"
                                            title="sidebar-shape2">
                                    </div>
                                    <div class="shape3">
                                        <img decoding="async"
                                            src="wp-content/uploads/2023/07/sidebar-shape3.png"
                                            alt="sidebar-shape3" title="sidebar-shape3">
                                    </div>
                                    <div class="shape4">
                                        <img decoding="async"
                                            src="wp-content/uploads/2023/07/sidebar-shape4.png" alt="alt"
                                            title="sidebar-shape4">
                                    </div>
                                    <div class="sidebar__author-box-icon">
                                        <span aria-hidden="true" class="  icon-bubble-message"></span>
                                    </div>
                                    <div class="sidebar__author-box-text">
                                        <h3>Every problem is a gift—without problems we would not grow. </h3>
                                    </div>
                                    <div class="sidebar__author-box-img">
                                        <img decoding="async" src="wp-content/uploads/2023/07/shb.jpg" alt="alt"
                                            title="sidebar-img1">
                                    </div>
                                    <h2>Kumar Shubham</h2>
                                </div>
                            </div>
                            <!--End Sidebar Single-->
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-56664e38 elementor-widget elementor-widget-ontech-sidebar"
                        data-id="56664e38" data-element_type="widget" data-widget_type="ontech-sidebar.default">
                        <div class="elementor-widget-container">
                            <!--Start Sidebar Single-->
                            <div class="sidebar__single sidebar__contact wow animated fadeInUp"
                                data-wow-delay="0.3s">
                                <div class="title-box">
                                    <div class="inner">
                                        <div class="shape">
                                            <img decoding="async"
                                                src="wp-content/uploads/2023/07/sidebar-title-shape.png"
                                                alt="alt" title="sidebar-title-shape">
                                        </div>
                                        <h2 class="">Have Any Query</h2>
                                    </div>
                                </div>

                                <div class="sidebar__contact-box">
                                    <div class="sidebar__contact-box-img">
                                        <div class="gradient-bg"
                                            style="background-image: url(wp-content/uploads/2023/07/sidebar-gradient-bg1.png);">
                                        </div>
                                        <img decoding="async"
                                            src="wp-content/uploads/2023/07/imageonline-co-blackandwhiteimage (1).jpg"
                                            alt="alt" title="sidebar-img2">
                                        <div class="overlay-content text-center">
                                            <h3 class="">
                                                Have Questions? <br>
                                                Nothing stops us from <br>
                                                doing what we like
                                            </h3>
                                            <div class="number-box">
                                                <div class="icon-box">
                                                    <span aria-hidden="true"
                                                        class="  icon-phone-auricular"></span>
                                                </div>

                                                <div class="text-box">
                                                    <a href="tel:9779308242">+91 977 93 08 242</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Sidebar Single-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-702944d"
                data-id="702944d" data-element_type="column">
                <div class="custom-margin elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-17d4615b elementor-widget elementor-widget-heading"
                        data-id="17d4615b" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 20-09-2023 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                                .cls-custom
                                         {
                                        font-family:Prompt;
                                        font-size:42px!important;
                                        font-weight:600!important;
                                    }
                                    .custom-margin{margin: 0px 0px 0px 30px;--e-column-margin-right: 0px;--e-column-margin-left: 30px;}
                                    
                                    .elementor-widget-heading .elementor-heading-title {
                                            color: var(--e-global-color-742e1a9);
                                            font-family: var(--e-global-typography-0e75bf1-font-family), Sans-serif;
                                            font-size: var(--e-global-typography-0e75bf1-font-size);
                                            font-weight: var(--e-global-typography-0e75bf1-font-weight);
                                            line-height: var(--e-global-typography-0e75bf1-line-height);
                                            letter-spacing: var(--e-global-typography-0e75bf1-letter-spacing);
                                            word-spacing: var(--e-global-typography-0e75bf1-word-spacing);
                                        }
                            </style>
                            <h2 class="cls-custom elementor-heading-title elementor-size-default">Seo And Marketing</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-2cbb3a16 elementor-widget elementor-widget-heading"
                        data-id="2cbb3a16" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">Search Engine Optimization
                                (SEO) is a fundamental component of modern digital marketing strategies. It
                                involves optimizing your website and content to rank higher in search engine
                                results pages (SERPs), making it more accessible to potential customers.
                                Effective SEO requires keyword research, on-page optimization, quality content
                                creation, and technical enhancements to improve your site's visibility. By
                                aligning SEO efforts with your marketing goals, you can attract organic traffic,
                                enhance brand visibility, and ultimately drive more conversions</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3915648 elementor-widget elementor-widget-heading"
                        data-id="3915648" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">Marketing, on the other
                                hand, is a broader strategy encompassing various tactics, including SEO. It
                                involves promoting your products or services through channels such as social
                                media, email campaigns, paid advertising, and content marketing. SEO plays a
                                vital role within this larger framework by ensuring that your online presence is
                                optimized for search engines. Combining SEO with other marketing strategies can
                                maximize your reach and impact, helping you engage with your target audience
                                effectively and achieve your business objectives.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-1685910 elementor-widget elementor-widget-heading"
                        data-id="1685910" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h3 class="cls-custom elementor-heading-title elementor-size-default">IT Conslting & Planning
                            </h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5e56b0af elementor-widget elementor-widget-heading"
                        data-id="5e56b0af" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">IT consulting and planning
                                are instrumental in helping organizations leverage technology to drive success.
                                Expert consultants assess current IT setups, pinpoint inefficiencies, and chart
                                a strategic course for improvements. By aligning technology with business
                                objectives, companies can enhance efficiency, reduce costs, and ensure long-term
                                growth. IT consulting and planning are essential for staying competitive and
                                adaptable in the rapidly evolving digital landscape.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-61b5ed8a elementor-widget elementor-widget-html"
                        data-id="61b5ed8a" data-element_type="widget" data-widget_type="html.default">
                        <div class="elementor-widget-container">
                            <ul class="services-details__content-text1-list ml-0">
                                <li>
                                    <div class="icon-box">
                                        <span class="icon-check-circle"></span>
                                    </div>

                                    <div class="text-box">
                                        <h4>Business IT Solutions</h4>
                                    </div>
                                </li>

                                <li>
                                    <div class="icon-box">
                                        <span class="icon-check-circle"></span>
                                    </div>

                                    <div class="text-box">
                                        <h4>Identify Areas to Optimize</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-12d9d147 services-details__content-img1 elementor-widget elementor-widget-image"
                        data-id="12d9d147" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.16.0 - 20-09-2023 */
                                .elementor-widget-image {
                                    text-align: center
                                }

                                .elementor-widget-image a {
                                    display: inline-block
                                }

                                .elementor-widget-image a img[src$=".svg"] {
                                    width: 48px
                                }

                                .elementor-widget-image img {
                                    vertical-align: middle;
                                    display: inline-block
                                }
                            </style> <img decoding="async" fetchpriority="high" width="770" height="455"
                                src="wp-content/uploads/2023/07/Shb.jpg"
                                class="attachment-full size-full wp-image-1569" alt=""
                                <!--srcset="https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4.jpg 770w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4-300x177.jpg 300w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4-768x454.jpg 768w, https://bracketweb.com/ontechwp/wp-content/uploads/2023/09/ontech-s-4-570x337.jpg 570w"
                                --> <!--sizes="(max-width: 770px) 100vw, 770px" />-->
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-180fd4fd elementor-widget elementor-widget-heading"
                        data-id="180fd4fd" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <p class="elementor-heading-title elementor-size-default">Business IT solutions are
                                instrumental in today's competitive landscape, offering tailored strategies and
                                technologies to boost productivity and efficiency. Concurrently, identifying
                                areas to optimize within an organization is a critical step in enhancing overall
                                performance. By aligning these two aspects, businesses can harness the power of
                                technology to address specific pain points, streamline operations, and remain
                                agile in the face of change. This combination empowers companies to make
                                data-driven decisions, leverage automation, and strengthen their cybersecurity
                                posture, ensuring they not only survive but thrive in an increasingly digital
                                world.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-29635a19 elementor-widget elementor-widget-ontech-info-box"
                        data-id="29635a19" data-element_type="widget"
                        data-widget_type="ontech-info-box.default">
                        <div class="elementor-widget-container">
                            <ul class="services-details__content-text2-list ml-0">
                                <li>
                                    <div class="icon-box">
                                        <span aria-hidden="true" class="  icon-web-design"></span>
                                        <div class="top-icon">
                                            <span class="icon-check-circle"></span>
                                        </div>
                                    </div>

                                    <div class="content-box">
                                        <h3 class="">IT Disaster recovery maturity Assessment</h3>
                                        <p class="">A Disaster Recovery Maturity Assessment evaluates an
                                            organization's readiness to handle unexpected disruptions. It
                                            assesses the effectiveness of existing disaster recovery plans,
                                            processes, and infrastructure to identify strengths and weaknesses.
                                            This assessment is a proactive approach to ensure business
                                            continuity by identifying areas for improvement in disaster recovery
                                            capabilities.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-box">
                                        <span aria-hidden="true" class="   icon-data"></span>
                                        <div class="top-icon">
                                            <span class="icon-check-circle"></span>
                                        </div>
                                    </div>

                                    <div class="content-box">
                                        <h3 class=" ">Plan for the unexpected</h3>
                                        <p class=" ">
                                            Planning for the unexpected involves developing strategies to
                                            mitigate risks and ensure resilience when unforeseen challenges
                                            arise. It is a proactive approach to safeguarding business
                                            continuity in the face of disruptions.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-496f7397 elementor-widget elementor-widget-ontech-image-box"
                        data-id="496f7397" data-element_type="widget"
                        data-widget_type="ontech-image-box.default">
                        <div class="elementor-widget-container">
                            <div class="services-details__content-text3">
                                <div class="content-box">
                                    <p>In today's fast-paced business landscape, leveraging technology
                                        effectively can be the key to success. At ThunderBrains, we specialize
                                        in providing transformative integrated IT solutions that empower your
                                        organization to achieve its essential business goals and capitalize on
                                        growth opportunities. Our expert team ensures that your campaigns are
                                        not just successful but also future-proofed for long-term prosperity.
                                    </p>

                                    <ul class="ml-0">
                                        <li>
                                            <p>
                                                <span aria-hidden="true" class="  icon-tick"></span> Your
                                                Technology Partner for Success
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span aria-hidden="true" class="  icon-tick"></span> Why Choose
                                                ThunderBrains
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <span aria-hidden="true" class="  icon-tick"></span> Embrace the
                                                Future with Confidence
                                            </p>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</div>

</Layout>