---
import Layout from "../layouts/Layout.astro";


interface Props {}

const {} = Astro.props;
---
<style>
    .page-header__bg {
        background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
    }
</style>
<Layout title="Services" description="Discover Thunderbrains' comprehensive services, offering innovative software solutions that propel your business forward. From custom software development to cutting-edge mobile apps, we specialize in creating tailored tech solutions that align with your unique needs. Explore how our expertise can redefine your digital landscape." keywords="Thunderbrains services, software solutions, custom software development, mobile apps, tailored tech solutions, innovative software, digital landscape transformation">
 
    <section class="page-header ">
        <div class="page-header__bg"></div>
        <div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
        <div class="shape1 float-bob-x"><img style="height:223px" src="../wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
        <div class="container">
            <div class="page-header__inner text-center">
                <h2>
                   Services
                </h2>

                <ul class="thm-breadcrumb list-unstyled ml-0">
                    <!-- Breadcrumb NavXT 7.2.0 -->
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home"><span property="name">ThunderBrains</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Services</span><meta property="url" content="https://bracketweb.com/ontechwp/it-consultancy/"><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <div data-elementor-type="wp-page" data-elementor-id="25" class="elementor elementor-25">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-41277df elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-id="41277df" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e447bf2"
                    data-id="e447bf2" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a7b6329 elementor-widget elementor-widget-ontech-service"
                            data-id="a7b6329" data-element_type="widget" data-widget_type="ontech-service.default">
                            <div class="elementor-widget-container">
                                <!--Start Services One-->
                                <section class="services-one services-one--two services">
                                    <div class="container">
                                        <div class="row">
                                            <!--Start Services One Single-->
                                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
                                                data-wow-delay="0ms" data-wow-duration="1000ms">
                                                <div class="services-one__single text-center">
                                                    <div class="shape2">
                                                        <img decoding="async"
                                                            src="../wp-content/uploads/2023/07/services-v1-shape12.png"
                                                            alt="alt" title="services-v1-shape12">
                                                    </div>
                                                    <div class="services-one__single-icon">
                                                        <div class="shape1"></div>
                                                        <span aria-hidden="true" class="  icon-server-data"></span>
                                                    </div>

                                                    <div class="services-one__single-content">
                                                        <h2>
                                                            <a class="" href="/it-consultancy">Tech
                                                                Analysis</a>
                                                        </h2>
                                                        <p>There are many technical analysis tools used in our
                                                            projects </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Services One Single-->
                                            <!--Start Services One Single-->
                                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
                                                data-wow-delay="0ms" data-wow-duration="1000ms">
                                                <div class="services-one__single text-center">
                                                    <div class="shape2">
                                                        <img decoding="async"
                                                            src="../wp-content/uploads/2023/07/services-v1-shape12.png"
                                                            alt="alt" title="services-v1-shape12">
                                                    </div>
                                                    <div class="services-one__single-icon">
                                                        <div class="shape1"></div>
                                                        <span aria-hidden="true" class="   icon-laptop"></span>
                                                    </div>

                                                    <div class="services-one__single-content">
                                                        <h2>
                                                            <a class=" " href="/it-consultancy">IT
                                                                Consultancy</a>
                                                        </h2>
                                                        <p>We provides advice or services in the diffrent
                                                            technologies used in the IT </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Services One Single-->
                                            <!--Start Services One Single-->
                                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
                                                data-wow-delay="0ms" data-wow-duration="1000ms">
                                                <div class="services-one__single text-center">
                                                    <div class="shape2">
                                                        <img decoding="async"
                                                            src="../wp-content/uploads/2023/07/services-v1-shape12.png"
                                                            alt="alt" title="services-v1-shape12">
                                                    </div>
                                                    <div class="services-one__single-icon">
                                                        <div class="shape1"></div>
                                                        <span aria-hidden="true" class="   icon-hard-drive"></span>
                                                    </div>

                                                    <div class="services-one__single-content">
                                                        <h2>
                                                            <a class="  " href="/it-consultancy">Data
                                                                Structuring</a>
                                                        </h2>
                                                        <p> Best management,organization and storage of data</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Services One Single-->
                                            <!--Start Services One Single-->
                                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
                                                data-wow-delay="0ms" data-wow-duration="1000ms">
                                                <div class="services-one__single text-center">
                                                    <div class="shape2">
                                                        <img decoding="async"
                                                            src="../wp-content/uploads/2023/07/services-v1-shape12.png"
                                                            alt="alt" title="services-v1-shape12">
                                                    </div>
                                                    <div class="services-one__single-icon">
                                                        <div class="shape1"></div>
                                                        <span aria-hidden="true"
                                                            class="   icon-networking-seo"></span>
                                                    </div>

                                                    <div class="services-one__single-content">
                                                        <h2>
                                                            <a class="   " href="/it-consultancy">Digital
                                                                Marketing</a>
                                                        </h2>
                                                        <p>promotions of brands to connect with customers using
                                                            digital communication </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Services One Single-->
                                            <!--Start Services One Single-->
                                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
                                                data-wow-delay="0ms" data-wow-duration="1000ms">
                                                <div class="services-one__single text-center">
                                                    <div class="shape2">
                                                        <img decoding="async"
                                                            src="../wp-content/uploads/2023/07/services-v1-shape12.png"
                                                            alt="alt" title="services-v1-shape12">
                                                    </div>
                                                    <div class="services-one__single-icon">
                                                        <div class="shape1"></div>
                                                        <span aria-hidden="true" class="   icon-web-design"></span>
                                                    </div>

                                                    <div class="services-one__single-content">
                                                        <h2>
                                                            <a class="    " href="/it-consultancy">Graphic
                                                                Designing</a>
                                                        </h2>
                                                        <p> Create visual concepts to communicate ideas that inspire
                                                            consumers. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Services One Single-->
                                            <!--Start Services One Single-->
                                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
                                                data-wow-delay="0ms" data-wow-duration="1000ms">
                                                <div class="services-one__single text-center">
                                                    <div class="shape2">
                                                        <img decoding="async"
                                                            src="../wp-content/uploads/2023/07/services-v1-shape12.png"
                                                            alt="alt" title="services-v1-shape12">
                                                    </div>
                                                    <div class="services-one__single-icon">
                                                        <div class="shape1"></div>
                                                        <span aria-hidden="true"
                                                            class="   icon-marketing-analysis"></span>
                                                    </div>

                                                    <div class="services-one__single-content">
                                                        <h2>
                                                            <a class="     " href="/it-consultancy">Market
                                                                Analysis</a>
                                                        </h2>
                                                        <p>lets you the success of your brand to consumers within
                                                            the market. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Services One Single-->
                                        </div>
                                    </div>
                                </section>
                                <!--End Services One-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-b9d8f25 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
            data-id="b9d8f25" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-701ab7f"
                    data-id="701ab7f" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-1531419 elementor-widget elementor-widget-ontech-service"
                            data-id="1531419" data-element_type="widget" data-widget_type="ontech-service.default">
                            <div class="elementor-widget-container">
                                <!--Start Intro One-->
                                <section class="intro-one style3">
                                    <div class="container">
                                        <div class="row">
                                            <!--Start Intro One Single-->
                                            <div class="col-xl-4 col-lg-4 wow animated fadeInUp"
                                                data-wow-delay="0.1s">
                                                <div class="intro-one__single">
                                                    <div class="intro-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/intro-v1-img4.jpg"
                                                                alt="alt" title="intro-v1-img4">
                                                        </div>
                                                        <div class="icon-box">
                                                            <span aria-hidden="true" class="  icon-privacy"></span>
                                                        </div>
                                                    </div>

                                                    <div class="intro-one__single-content text-center">
                                                        <div class="shape1">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/intro-v1-shape1.png"
                                                                alt="alt" title="intro-v1-shape1">
                                                        </div>
                                                        <h2>
                                                            <a class="" href="/it-consultancy">Digital
                                                                Security</a>
                                                        </h2>
                                                        <p>Your security is our first priority </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Intro One Single-->
                                            <!--Start Intro One Single-->
                                            <div class="col-xl-4 col-lg-4 wow animated fadeInUp"
                                                data-wow-delay="0.1s">
                                                <div class="intro-one__single">
                                                    <div class="intro-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/intro-v1-img5.jpg"
                                                                alt="alt" title="intro-v1-img5">
                                                        </div>
                                                        <div class="icon-box">
                                                            <span aria-hidden="true"
                                                                class="   icon-certified"></span>
                                                        </div>
                                                    </div>

                                                    <div class="intro-one__single-content text-center">
                                                        <div class="shape1">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/intro-v1-shape1.png"
                                                                alt="alt" title="intro-v1-shape1">
                                                        </div>
                                                        <h2>
                                                            <a class=" " href="/it-consultancy">Tech
                                                                Solutions</a>
                                                        </h2>
                                                        <p>We providing tech solutions for your Business </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Intro One Single-->
                                            <!--Start Intro One Single-->
                                            <div class="col-xl-4 col-lg-4 wow animated fadeInUp"
                                                data-wow-delay="0.1s">
                                                <div class="intro-one__single">
                                                    <div class="intro-one__single-img">
                                                        <div class="inner">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/intro-v1-img6.jpg"
                                                                alt="alt" title="intro-v1-img6">
                                                        </div>
                                                        <div class="icon-box">
                                                            <span aria-hidden="true" class="   icon-laptop"></span>
                                                        </div>
                                                    </div>

                                                    <div class="intro-one__single-content text-center">
                                                        <div class="shape1">
                                                            <img decoding="async"
                                                                src="../wp-content/uploads/2023/07/intro-v1-shape1.png"
                                                                alt="alt" title="intro-v1-shape1">
                                                        </div>
                                                        <h2>
                                                            <a class="  " href="/it-consultancy">IT
                                                                Outsourcing</a>
                                                        </h2>
                                                        <p>External services provided effectively </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Intro One Single-->
                                        </div>
                                    </div>
                                </section>
                                <!--End Intro One-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  
</Layout>