---
import Layout from "../layouts/Layout.astro";


interface Props {}

const {} = Astro.props;
---
<style>
    .page-header__bg {
    background-image: url(wp-content/uploads/2023/07/page-header-bg.jpg) !important;
}
</style>
<Layout title="Team"  description="A synergy of tech virtuosos and visionary thinkers driving the digital frontier. Thunder Brains Software - where talent fuels innovation." keywords="Engaging Introduction,Tech Virtuosos,Visionary Thinkers ,Digital Frontier">
  
    <!--Start Page Header-->
<section class="page-header ">
	<div class="page-header__bg"></div>
			<div class="page-header__gradient" style="background-image: url(wp-content/uploads/2023/07/page-header-gradient-bg.png);"></div>
				<div class="shape1 float-bob-x"><img style="height:263px" src="wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png" alt="banner shape"></div>
		<div class="container">
		<div class="page-header__inner text-center">
						<h2>
									OUR TEAM							</h2>

										<ul class="thm-breadcrumb list-unstyled ml-0">
					<!-- Breadcrumb NavXT 7.2.0 -->
<li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Ontech." href="https://bracketweb.com/ontechwp" class="home" ><span property="name">Ontech</span></a><meta property="position" content="1"></span></li>
<li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name" class="post post-page current-item">Team</span><meta property="url" content="https://bracketweb.com/ontechwp/team/"><meta property="position" content="2"></span></li>
				</ul>
					</div>
	</div>
</section>
<!--End Page Header-->				<div data-elementor-type="wp-page" data-elementor-id="33" class="elementor elementor-33">
									<section class="elementor-section elementor-top-section elementor-element elementor-element-487ea25 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="487ea25" data-element_type="section">
						<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc97488" data-id="fc97488" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8f9bac8 elementor-widget elementor-widget-ontech-team" data-id="8f9bac8" data-element_type="widget" data-widget_type="ontech-team.default">
				<div class="elementor-widget-container">
			
	<!--Start Team One-->
	<section class="team-one team-one--team">
		<div class="container">

			<div class="row">
									<!--Start Team One Single-->
					<div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
						<div class="team-one__single">
							<div class="team-one__single-img">
								<div class="inner">
									<img decoding="async" style=" height:367px" src="wp-content/uploads/2023/07/Abhishek.png" alt="alt" title="team-v1-img1" >									<div class="social-link">
										<!--<ul class="ml-0">
											<li>
    <a class="fb" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
</li>
<li>
    <a class="tw" href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
</li>
<li>
    <a class="pin" href="https://www.pinterest.com/"><span class="icon-pinterest"></span></a>
</li>
<li>
    <a class="in" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
</li>										</ul>-->
									</div>
								</div>
							</div>

							<div class="team-one__single-content text-center">
								<h2>
																			<a   href="team-details/index.html">Abhishek Sharma</a>
																	</h2>
								<p>Sr. Net Developer</p>
							</div>
						</div>
					</div>
					<!--End Team One Single-->
									<!--Start Team One Single-->
					<div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
						<div class="team-one__single">
							<div class="team-one__single-img">
								<div class="inner">
									<img decoding="async" style="height:367px" src="wp-content/uploads/2023/07/Him.png" alt="alt" title="team-v1-img2" >									<div class="social-link">
										<!--<ul class="ml-0">
											<li>
    <a class="fb" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
</li>
<li>
    <a class="tw" href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
</li>
<li>
    <a class="pin" href="https://www.pinterest.com/"><span class="icon-pinterest"></span></a>
</li>
<li>
    <a class="in" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
</li>										</ul>-->
									</div>
								</div>
							</div>

							<div class="team-one__single-content text-center">
								<h2>
																			<a   href="team-details/index.html">Himanshu Chandel</a>
																	</h2>
								<p>Sr. Net Developer</p>
							</div>
						</div>
					</div>
					<!--End Team One Single-->
									<!--Start Team One Single-->
					<div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
						<div class="team-one__single">
							<div class="team-one__single-img">
								<div class="inner">
									<img decoding="async" src="wp-content/uploads/2023/07/pho.jpg" alt="alt" title="team-v1-img3" >									<div class="social-link">
										<!--<ul class="ml-0">
											<li>
    <a class="fb" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
</li>
<li>
    <a class="tw" href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
</li>
<li>
    <a class="pin" href="https://www.pinterest.com/"><span class="icon-pinterest"></span></a>
</li>
<li>
    <a class="in" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
</li>										</ul>-->
									</div>
								</div>
							</div>

							<div class="team-one__single-content text-center">
								<h2>
																			<a   href="team-details/index.html">Rahul Sharma</a>
																	</h2>
								<p>Jr.NEt Developer</p>
							</div>
						</div>
					</div>
					<!--End Team One Single-->
									<!--Start Team One Single-->
					<div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
						<div class="team-one__single">
							<div class="team-one__single-img">
								<div class="inner">
									<img decoding="async"style=" height:367px" src="wp-content/uploads/2023/07/Sha.jpg" alt="alt" title="team-v1-img5" >									<div class="social-link">
										<!--<ul class="ml-0">
											<li>
    <a class="fb" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
</li>
<li>
    <a class="tw" href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
</li>
<li>
    <a class="pin" href="https://www.pinterest.com/"><span class="icon-pinterest"></span></a>
</li>
<li>
    <a class="in" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
</li>										</ul>-->
									</div>
								</div>
							</div>

							<div class="team-one__single-content text-center">
								<h2>
																			<a   href="team-details/index.html">Shailvi Gupta</a>
																	</h2>
								<p>Jr.NET Developer</p>
							</div>
						</div>
					</div>
					<!--End Team One Single-->
									<!--Start Team One Single-->
					<div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
						<div class="team-one__single">
							<div class="team-one__single-img">
								<div class="inner">
									<img decoding="async"style=" height:367px" src="wp-content/uploads/2023/07/IMG_2669.jpg" alt="alt" title="team-v1-img6" >									<div class="social-link">
										<!--<ul class="ml-0">
											<li>
    <a class="fb" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
</li>
<li>
    <a class="tw" href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
</li>
<li>
    <a class="pin" href="https://www.pinterest.com/"><span class="icon-pinterest"></span></a>
</li>
<li>
    <a class="in" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
</li>										</ul>-->
									</div>
								</div>
							</div>

							<div class="team-one__single-content text-center">
								<h2>
																			<a   href="team-details/index.html">Kirandeep Kaur</a>
																	</h2>
								<p>Jr.Net Developer</p>
							</div>
						</div>
					</div>
					<!--End Team One Single-->
									<!--Start Team One Single-->
					<div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
						<div class="team-one__single">
							<div class="team-one__single-img">
								<div class="inner">
									<img decoding="async"style=" height:367px" src="wp-content/uploads/2023/07/team-v1-img7.jpg" alt="alt" title="team-v1-img7" >									<div class="social-link">
										<!--<ul class="ml-0">
											<li>
    <a class="fb" href="https://www.facebook.com/"><span class="icon-facebook"></span></a>
</li>
<li>
    <a class="tw" href="https://www.twitter.com/"><span class="icon-twitter"></span></a>
</li>
<li>
    <a class="pin" href="https://www.pinterest.com/"><span class="icon-pinterest"></span></a>
</li>
<li>
    <a class="in" href="https://www.instagram.com/"><span class="icon-instagram"></span></a>
</li>										</ul>-->
									</div>
								</div>
							</div>

							<div class="team-one__single-content text-center">
								<h2>
																			<a   href="team-details/index.html">Lora Tony</a>
																	</h2>
								<p>Senior Designer</p>
							</div>
						</div>
					</div>
					<!--End Team One Single-->
							</div>
		</div>
	</section>
	<!--End Team One-->

		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
      
							</div>
		


</div>
   
</Layout>