---
interface Props {}

const {} = Astro.props;
---

<div class="footer-wrapper">
  <!-- the loop -->
  <section class="elementor-section elementor-top-section elementor-element elementor-element-4e29bbff elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="4e29bbff" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-491a0fd0" data-id="491a0fd0" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-30286391 elementor-widget elementor-widget-ontech-google-maps" data-id="30286391" data-element_type="widget" data-widget_type="ontech-google-maps.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-custom-embed">
                            <iframe src="https://maps.google.com/maps?q=ThunderBrains&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near"
                                    title="Thunder Brains Pvt. Ltd."
                                    aria-label="Thunder Brains Pvt. Ltd."
                                    width="100%"
                                    height="500px">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <div
    data-elementor-type="wp-post"
    data-elementor-id="871"
    class="elementor elementor-871"
  >
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-7bdc8e71 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="7bdc8e71"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-61339ad3"
          data-id="61339ad3"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-7dfed261 elementor-widget elementor-widget-ontech-contact-info"
              data-id="7dfed261"
              data-element_type="widget"
              data-widget_type="ontech-contact-info.default"
            >
              <div class="elementor-widget-container">
                <!--Start Contact Info One-->
                <section class="contact-info-one">
                  <div class="container">
                    <div class="contact-info-one__inner">
                      <div
                        class="contact-info-one__bg"
                        style="background-image: url(/wp-content/uploads/2023/07/contact-info-v1-bg.jpg);"
                      >
                      </div>
                      <div class="row">
                        <!--Start Contact Info One Single-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="contact-info-one__single">
                            <div class="icon-box">
                              <span
                                aria-hidden="true"
                                class="icon-location-filled"></span>
                            </div>

                            <div class="content-box">
                              <h3>
                                Times Square, #405, 196-A,
                                Phase 8B,  Sector 74, Sahibzada
                                Ajit Singh Nagar, Punjab 160055
                              </h3>
                            </div>
                          </div>
                        </div>
                        <!--End Contact Info One Single-->
                        <!--Start Contact Info One Single-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="contact-info-one__single ml75">
                            <div class="icon-box">
                              <span
                                aria-hidden="true"
                                class="icon-phone-auricular"></span>
                            </div>

                            <div class="content-box">
                              <p>Get In Touch</p>
                              <h4>
                                <a href="tel:9779308242">9779308242</a>
                              </h4>
                            </div>
                          </div>
                        </div>
                        <!--End Contact Info One Single-->
                        <!--Start Contact Info One Single-->
                        <div class="col-xl-4 col-lg-4">
                          <div class="contact-info-one__single">
                            <div class="icon-box">
                              <span aria-hidden="true" class="icon-email2"
                              ></span>
                            </div>

                            <div class="content-box">
                              <p>Quick Email us</p>
                              <h3>
                                <a href="mailto:contactus@thunderbrains.in"
                                  >contactus@thunderbrains.in</a
                                >
                              </h3>
                            </div>
                          </div>
                        </div>
                        <!--End Contact Info One Single-->
                      </div>
                    </div>
                  </div>
                </section>
                <!--End Contact Info One-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-4d58d09f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="4d58d09f"
      data-element_type="section"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-37efb47a footer-one"
          data-id="37efb47a"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-1a7cc8e5 elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-footer-shape"
              data-id="1a7cc8e5"
              data-element_type="widget"
              data-widget_type="footer-shape.default"
            >
              <div class="elementor-widget-container">
                <div
                  class="footer-one__bg"
                  style="background-image: url(/wp-content/uploads/2023/07/footer-bg.jpg);"
                >
                </div>
                <div class="shape1 float-bob-x">
                  <img
                    decoding="async"
                    src="/wp-content/uploads/2023/07/footer-v1-shape1.png"
                    alt="alt"
                    title="footer-v1-shape1"
                  />
                </div>
                <div class="shape2 float-bob-y">
                  <img
                    decoding="async"
                    src="/wp-content/uploads/2023/07/footer-v1-shape2.png"
                    alt="alt"
                    title="footer-v1-shape2"
                  />
                </div>
                <div class="shape3 float-bob-y">
                  <img
                    decoding="async"
                    src="/wp-content/uploads/2023/07/footer-v1-shape3.png"
                    alt="alt"
                    title="footer-v1-shape3"
                  />
                </div>
                <div class="shape4 float-bob-x">
                  <img
                    decoding="async"
                    src="/wp-content/uploads/2023/07/footer-v1-shape4.png"
                    alt="alt"
                    title="footer-v1-shape4"
                  />
                </div>
              </div>
            </div>
            <section
              class="elementor-section elementor-inner-section elementor-element elementor-element-681d0305 footer-one__top elementor-section-boxed elementor-section-height-default elementor-section-height-default"
              data-id="681d0305"
              data-element_type="section"
            >
              <div class="elementor-container elementor-column-gap-default">
                <div
                  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-24995604"
                  data-id="24995604"
                  data-element_type="column"
                >
                  <div
                    class="elementor-widget-wrap elementor-element-populated"
                  >
                    <div
                      class="elementor-element elementor-element-70ddcf5a elementor-widget__width-initial elementor-widget elementor-widget-footer-about"
                      data-id="70ddcf5a"
                      data-element_type="widget"
                      data-widget_type="footer-about.default"
                    >
                      <div class="elementor-widget-container">
                        <div class="footer-one__single footer-one__about">
                          <div class="footer-one__about-logo">
                            <a href="">
                              <img
                                decoding="async"
                                loading="lazy"
                                width="179"
                                height="42"
                                src="/wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png"
                                alt="ThunderBrains"
                              />
                            </a>
                          </div>

                          <div class="footer-one__about-text">
                            <p>
                              Times Square, #405, 196-A,
                              Phase 8B, 
                              <br />Sector 74, Sahibzada Ajit Singh Nagar,
                              Punjab 160055
                            </p>
                          </div>
                          <div class="footer-one__about-cta">
                            <p>
                              <span
                                aria-hidden="true"
                                class="ontech-icons-two-telephone"></span>
                              <a href="tel:9779308242">+91 977 93 08 242</a>
                            </p>

                            <p>
                              <span
                                aria-hidden="true"
                                class="ontech-icons-two-mail"></span>
                              <a href="mailto:contactus@thunderbrains.in"
                                >contactus@thunderbrains.in</a
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5ccd46c6"
                  data-id="5ccd46c6"
                  data-element_type="column"
                >
                  <div
                    class="elementor-widget-wrap elementor-element-populated"
                  >
                    <div
                      class="elementor-element elementor-element-398caa2e elementor-widget elementor-widget-footer-blog"
                      data-id="398caa2e"
                      data-element_type="widget"
                      data-widget_type="footer-blog.default"
                    >
                      <div class="elementor-widget-container">
                        <div class="footer-one__single footer-one__post">
                          <div class="title-box">
                            <!-- <h3>Popular Post</h3> -->
                          </div>
                          <div class="footer-one__post-box"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-7ee2ff6"
                  data-id="7ee2ff6"
                  data-element_type="column"
                >
                  <div
                    class="elementor-widget-wrap elementor-element-populated"
                  >
                    <div
                      class="elementor-element elementor-element-3bb9e471 elementor-widget elementor-widget-footer-nav-menu"
                      data-id="3bb9e471"
                      data-element_type="widget"
                      data-widget_type="footer-nav-menu.default"
                    >
                      <div class="elementor-widget-container">
                        <div class="footer-one__single footer-one__links">
                          <div class="title-box">
                            <h3>Links</h3>
                          </div>
                          <div class="footer-one__links-box">
                            <ul
                              id="menu-links"
                              class="footer-one__links-list ml-0"
                            >
                              <li
                                id="menu-item-898"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-898"
                              >
                                <a href="about">Cookie Policy</a>
                              </li>
                              <li
                                id="menu-item-899"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-899"
                              >
                                <a href="about">Careers</a>
                              </li>
                              <li
                                id="menu-item-900"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-900"
                              >
                                <a href="about">Policy</a>
                              </li>
                              <li
                                id="menu-item-901"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-901"
                              >
                                <a href="about">About us</a>
                              </li>
                              <li
                                id="menu-item-902"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-902"
                              >
                                <a href="contact-us">Contact Us</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-58e629be"
                  data-id="58e629be"
                  data-element_type="column"
                >
                  <div
                    class="elementor-widget-wrap elementor-element-populated"
                  >
                    <div
                      class="elementor-element elementor-element-29a065a0 elementor-widget elementor-widget-footer-subscribe"
                      data-id="29a065a0"
                      data-element_type="widget"
                      data-widget_type="footer-subscribe.default"
                    >
                      <div class="elementor-widget-container">
                        <div class="footer-one__single footer-one__newsletter">
                          <div class="title-box">
                            <h3>Newsletter</h3>
                          </div>
                          <div class="footer-one__newsletter-box">
                            <div class="footer-one__newsletter-text2">
                              <p>
                                Looking to kick-off your project in <br />
                                 the next 30-90 days?
                              </p>
                            </div>
                            <form
                              class="footer-one__newsletter-form mc-form"
                              data-url="http://tt.com"
                            >
                              <div
                                class="footer-one__newsletter-form-input-box"
                              >
                                <div class="icon">
                                  <span aria-hidden="true" class="icon-email2"
                                  ></span>
                                </div>
                                <input
                                  type="email"
                                  placeholder="Enter your email"
                                  name="email"
                                />
                              </div>

                              <div class="footer-one__newsletter-btn">
                                <button class="thm-btn" type="submit">
                                  Subscribe
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div
              class="elementor-element elementor-element-39fb137b elementor-widget elementor-widget-footer-copyright"
              data-id="39fb137b"
              data-element_type="widget"
              data-widget_type="footer-copyright.default"
            >
              <div class="elementor-widget-container">
                <div class="footer-one__bottom">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="footer-one__bottom-inner">
                          <div class="footer-one__bottom-left">
                            <div class="footer-one__bottom-right">
                              <p>
                                © All Copyright 2023 by
                                <a href="">ThunderBrains</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of the loop -->
  </div><!-- /.footer-wrapper -->

  <div id="woosw_wishlist" class="woosw-popup woosw-popup-center"></div>
</div>

