---
interface Props {}

const {} = Astro.props;
---
  <!-- the loop -->
  <div
    data-elementor-type="wp-post"
    data-elementor-id="647"
    class="elementor elementor-647"
  >
    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-f2f5944 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
      data-id="f2f5944"
      data-element_type="section"
    >
      <div class="elementor-container elementor-column-gap-no">
        <div
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2133cfb"
          data-id="2133cfb"
          data-element_type="column"
        >
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-874e485 elementor-widget elementor-widget-ontech-header"
              data-id="874e485"
              data-element_type="widget"
              data-widget_type="ontech-header.default"
            >
              <div class="elementor-widget-container">
                <!--Start Main Header One-->
                <header class="main-header main-header-one clearfix">
                  <div class="main-header-one__top">
                    <div class="container">
                      <div class="main-header-one__top-inner">
                        <div class="main-header-one__top-left">
                          <div class="main-header-one__top-left-btn">
                            <a href="contact-us">Contact us</a>
                          </div>
                        </div>

                        <div class="main-header-one__top-right">
                          <div class="main-header__contact-info">
                            <ul class="ml-0">
                              <li>
                                <div class="inner">
                                  <div class="icon-box">
                                    <span
                                      aria-hidden="true"
                                      class="ontech-icons-two-telephone"></span>
                                  </div>
                                  <div class="text-box">
                                    <p>Call for Anything</p>
                                    <h4>
                                      <a href="tel:9779308242">9779308242</a>
                                    </h4>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="inner">
                                  <div class="icon-box">
                                    <span
                                      aria-hidden="true"
                                      class="ontech-icons-two-mail"></span>
                                  </div>
                                  <div class="text-box">
                                    <p>You may send an email</p>
                                    <h4>
                                      <a href="mailto:contactus@thunderbrains.in"
                                        >contactus@thunderbrains.in</a
                                      >
                                    </h4>
                                  </div>
                                </div>
                              </li>
                              <li>
                                <div class="inner">
                                  <div class="icon-box">
                                    <span
                                      aria-hidden="true"
                                      class="ontech-icons-two-clock"></span>
                                  </div>
                                  <div class="text-box">
                                    <p>Saturday,Sunday - Closed</p>
                                    <h4>Monday - Friday(9.00 - 7.00)</h4>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="main-header-one__bottom">
                    <nav class="main-menu clearfix">
                      <div class="main-menu__wrapper clearfix">
                        <div class="container">
                          <div class="main-header-one__bottom-inner">
                            <div class="main-header-one__bottom-left">
                              <div class="logo-one">
                                <a href="">
                                  <img
                                    decoding="async"
                                    loading="lazy"
                                    width="80"
                                    height="30"
                                    src="/wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png"
                                    alt="ThunderBrains Logo"
                                    style="color: white;"
                                  />
                                </a>
                              </div>

                              <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler">
                                  <i class="fa fa-bars"></i>
                                </a>
                                <div class="menu-menu-1-container">
                                  <ul id="menu-menu-1" class="main-menu__list">
                                    <li
                                      id="menu-item-655"
                                      class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-655"
                                    >
                                      <a href="/" aria-current="page">Home</a>
                                    </li>
                                    <li
                                      id="menu-item-678"
                                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-678"
                                    >
                                      <a href="#">Pages</a>
                                      <ul class="sub-menu">
                                        <li
                                          id="menu-item-656"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-656"
                                        >
                                          <a href="about">About</a>
                                        </li>
                                        <li
                                          id="menu-item-675"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"
                                        >
                                          <a href="team">Team</a>
                                        </li>
                                        <li
                                          id="menu-item-676"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"
                                        >
                                          <a href="team-details"> Team Details</a>
                                        </li>
                                        <li
                                          id="menu-item-662"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-662"
                                        >
                                          <a href="faq">Faq</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li
                                      id="menu-item-673"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-673"
                                    >
                                      <a href="services">Services</a>
                                      <ul class="sub-menu">
                                        <li
                                          id="menu-item-1005"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1005"
                                        >
                                          <a href="services">Services</a>
                                        </li>
                                        <li
                                          id="menu-item-667"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-667"
                                        >
                                          <a href="it-consultancy">
                                            IT Consultancy
                                          </a>
                                        </li>
                                        <li
                                          id="menu-item-1131"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"
                                        >
                                          <a href="digital-marketing">
                                            Digital Marketing
                                          </a>
                                        </li>
                                        <li
                                          id="menu-item-1130"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1130"
                                        >
                                          <a href="graphic-designing">
                                            Graphic Designing
                                          </a>
                                        </li>
                                        <li
                                          id="menu-item-1129"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1129"
                                        >
                                          <a href="data-structuring">
                                            Data Structuring
                                          </a>
                                        </li>
                                        <li
                                          id="menu-item-1128"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1128"
                                        >
                                          <a href="web-development">
                                            Web Development
                                          </a>
                                        </li>
                                        <li
                                          id="menu-item-1127"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"
                                        >
                                          <a href="seo-and-marketing">
                                            SEO and Marketing
                                          </a>
                                        </li>
                                        <li
                                        id="menu-item-1128"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"
                                      >
                                        <a href="blockchain">
                                          BlockChain
                                        </a>
                                      </li>
                                      </ul>
                                    </li>
                                    <li
                                      id="menu-item-671"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-671"
                                    >
                                      <a href="">Projects</a>
                                      <ul class="sub-menu">
                                        <li
                                          id="menu-item-1001"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1001"
                                        >
                                          <a href="projects">Projects</a>
                                        </li>
                                        <li
                                          id="menu-item-670"
                                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670"
                                        >
                                          <a href="project-details">
                                            Project Details
                                          </a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li id="menu-item-661"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-661">
                                      <a href="https://thunderbrains.in/blog/">Blog</a>
                                    </li>
                                    <li
                                      id="menu-item-661"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-661"
                                    >
                                   
                                      <a href="contact-us">Contact</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="main-header-one__bottom-right">
                                <div class="main-header__search">
                                  <a
                                    href="#"
                                    class="main-menu__search search-toggler icon-search"
                                  ></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </header>
              </div>
              <!--End Main Header One-->

              <div
                class="stricky-header stricky-header__one stricked-menu main-menu"
              >
                <div class="sticky-header__content">
                </div><!-- /.sticky-header__content -->
              </div><!-- /.stricky-header -->

              <div class="mobile-nav__wrapper">
                <div class="mobile-nav__overlay mobile-nav__toggler"></div>
                <!-- /.mobile-nav__overlay -->
                <div class="mobile-nav__content">
                  <span class="mobile-nav__close mobile-nav__toggler"></span>

                  <div class="logo-box logo-retina">
                    <a href="">
                      <img
                        decoding="async"
                        loading="lazy"
                        width="80"
                        height="30"
                        src="/wp-content/uploads/2023/07/cropped-Thunder-Brain-Logo-01-1.png"
                        alt="Ontech"
                      />
                    </a>
                  </div>
                  <!-- /.logo-box -->
                  <div class="mobile-nav__container"></div>
                  <!-- /.mobile-nav__container -->
                  <ul class="mobile-nav__contact list-unstyled ml-0">
                    <li>
                      <i class="fa fa-envelope"></i>
                      <a href="mailto:needhelp@ontech.com"
                        >needhelp@ontech.com</a
                      >
                    </li>
                    <li>
                      <i class="fa fa-phone-alt"></i>
                      <a href="tel:666-888-0000">666 888 0000</a>
                    </li>
                  </ul><!-- /.mobile-nav__contact -->
                  <div class="mobile-nav__top">
                    <div class="mobile-nav__social">
                      <a class="icon-svg" href="https://www.facebook.com/">
                        <span aria-hidden="true" class="fab fa-facebook-f"
                        ></span>
                      </a>
                      <a class="icon-svg" href="https://www.twitter.com/">
                        <span aria-hidden="true" class="fab fa-twitter"></span>
                      </a>
                      <a class="icon-svg" href="https://www.instagram.com/">
                        <span aria-hidden="true" class="icon-instagram"></span>
                      </a>
                      <a class="icon-svg" href="https://www.instagram.com/">
                        <span aria-hidden="true" class="fab fa-pinterest-p"
                        ></span>
                      </a>
                    </div><!-- /.mobile-nav__social -->
                  </div><!-- /.mobile-nav__top -->
                </div>
                <!-- /.mobile-nav__content -->
              </div>

              <div class="search-popup">
                <div class="search-popup__overlay search-toggler"></div>
                <!-- /.search-popup__overlay -->
                <div class="search-popup__content">
                  <form action="/">
                    <label for="search" class="sr-only">
                      search here
                    </label><!-- /.sr-only -->
                    <input
                      type="text"
                      id="search"
                      name="s"
                      placeholder="Search Here..."
                    />
                    <button
                      type="submit"
                      aria-label="search submit"
                      class="thm-btn"
                    >
                      <i class="icon-search"></i>
                    </button>
                  </form>
                </div>
                <!-- /.search-popup__content -->
              </div>

              <span data-target="html" class="scroll-to-target scroll-to-top">
                <i class="fa fa-angle-up"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!-- end of the loop -->
